<template>

  <section>

    <div id="contact-button" :style="{'background-color': brand_color}">

        <svg id="show-contact-options" @click.stop.prevent="Toggle()" v-if="!is_active" xmlns="http://www.w3.org/2000/svg" version="1" viewBox="0 0 474 474" width="512" height="512"><g fill="white" stroke-width="2" ><path d="M374 294a47 47 0 0 0-33-16c-13 0-24 5-35 15l-31 32-8-4-10-5a343 343 0 0 1-109-118l23-23 9-8c21-21 21-48 0-69l-28-28-9-9-19-19c-10-9-21-15-33-15s-24 6-34 15h-1L22 77a73 73 0 0 0-21 46c-3 29 6 57 13 74a471 471 0 0 0 233 250 244 244 0 0 0 94 27c23 0 43-8 58-25 5-7 11-12 18-19l13-12c10-11 15-23 15-35s-6-24-16-34l-55-55zm36 105l-12 12-19 20a48 48 0 0 1-38 16h-4c-30-2-58-14-78-24A444 444 0 0 1 39 188c-9-25-13-44-11-63 1-11 5-21 14-29l34-34c5-5 10-8 15-8 6 0 11 4 14 7l1 1 18 18 9 9 28 28c10 10 10 20 0 31l-9 8-25 25h-1c-8 9-7 17-5 23v1c8 17 18 33 33 52v1a367 367 0 0 0 111 92l1 1c3 2 7 3 10 3 8 0 13-6 15-7l34-35c4-3 9-7 15-7 7 0 12 4 15 7l55 56c10 10 10 20 0 31zM256 113c26 4 50 17 69 36s31 42 36 69c1 6 7 11 13 11h2c8-2 13-9 12-16A154 154 0 0 0 261 86c-8-1-15 4-16 11s4 15 11 16z"/><path d="M473 209A254 254 0 0 0 264 0a13 13 0 1 0-4 27 227 227 0 0 1 187 186c1 7 6 12 13 12l2-1c8-1 13-8 11-15z"/></g></svg>

        <svg id="hide-contact-options" @click.stop.prevent="Toggle()" v-else xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="512" height="512"><path d="M28.2 24L47.1 5A3 3 0 1 0 42.8 1L24 19.7 5 1A3 3 0 1 0 1 5L19.7 24 1 42.9A3 3 0 1 0 5 47L24 28.2l18.9 18.9a3 3 0 0 0 4.2 0 3 3 0 0 0 0-4.3L28.2 24z" fill="white"/></svg>
    </div>

    <transition name="fade-down">
      <div v-if="is_active" id="contact-popup">

      <div class="popup-container">

        <a class="contact-option" id="contact-phone-call" :href=" 'tel:'+tel" rel="nofollow">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 578.1 578.1" width="512" height="512"><path d="M577.8 456.1a28 28 0 0 1-8.5 24.5l-81.4 80.8c-3.7 4-8.5 7.5-14.4 10.4a59.4 59.4 0 0 1-29 6.1c-7.8 0-20.4-1.3-37.7-4s-38.6-9.1-63.7-19.5a534.2 534.2 0 0 1-85.3-46.9A636.5 636.5 0 0 1 156.2 422a670.6 670.6 0 0 1-71-80.8 575.6 575.6 0 0 1-45.3-71.3c-11.4-21.9-20-41.6-25.7-59.4s-9.6-33-11.6-45.9A155 155 0 0 1 .7 122c.8-5.7 2.7-11.6 5.5-17.5s6.3-10.7 10.4-14.3L98 8.8A27 27 0 0 1 117.6.2c5.3 0 10 1.5 14 4.6s7.6 6.8 10.5 11.3l65.5 124.2a29.8 29.8 0 0 1 3 21.5 38.1 38.1 0 0 1-10.4 19.5l-30 30c-.8.8-1.5 2.2-2.1 4s-1 3.4-1 4.6c1.7 8.6 5.4 18.4 11 29.4 5 9.8 12.5 21.7 22.7 35.8s24.7 30.3 43.5 48.6a405.4 405.4 0 0 0 49 43.8c14.2 10.4 26.2 18 35.8 23 9.5 4.8 16.9 7.8 22 8.8l7.6 1.5c.8 0 2.2-.3 4-.9 1.8-.6 3.2-1.3 4-2.1l34.9-35.5c7.3-6.5 15.9-9.8 25.7-9.8a32 32 0 0 1 16.5 3.7h.6l118.1 69.7c8.6 5.3 13.7 12 15.3 20.2z" :fill="brand_color"/></svg>
          Llamar por teléfono
        </a>

        <a class="contact-option" id="contact-send-whatsapp" :href=" 'https://api.whatsapp.com/send?phone='+whatsapp" rel="nofollow" target="_blank">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 418.1 418.1"><g :fill="brand_color" ><path d="M199 .2A207.7 207.7 0 0 0 24.2 301.6l-22 106.8A8 8 0 0 0 12 418l104.7-24.8a207.8 207.8 0 0 0 299.6-179C420.1 93 320.3-5.6 199 .1zm124.9 322A161.3 161.3 0 0 1 209 369.8c-25.4 0-49.7-5.7-72.3-17l-14.6-7.2L58 360.8l13.5-65.6-7.2-14.1a160.6 160.6 0 0 1-17.6-73.7A162.7 162.7 0 0 1 323.9 92.6a162.7 162.7 0 0 1 0 229.6z"/><path d="M309.7 252.4l-40.2-11.6a15 15 0 0 0-14.8 4l-9.8 10a14.6 14.6 0 0 1-16 3.3c-19-7.7-58.9-43.2-69-61-3-5.1-2.5-11.6 1-16.2l8.6-11.1a15 15 0 0 0 1.9-15.2l-17-38.3a15 15 0 0 0-23.3-5.3c-11.2 9.5-24.5 23.9-26.1 39.8-2.9 28.2 9.2 63.7 54.8 106.3 52.8 49.2 95 55.7 122.5 49 15.6-3.8 28-19 36-31.3a15 15 0 0 0-8.6-22.4z"/></g></svg>
          Enviar Whatsapp
        </a>

        <a class="contact-option" id="contact-google-maps" :href="google_maps" rel="nofollow" target="_blank">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 477 477" width="512" height="512"><g :fill="brand_color"><path d="M238.4 0A191.5 191.5 0 0 0 64.7 271.2c20.6 48.5 65.9 123 165.3 202.8a13.6 13.6 0 0 0 17 0c99.3-79.8 144.7-154.3 165.3-202.8a186.2 186.2 0 0 0 17.5-80A191.8 191.8 0 0 0 238.4 0zm161.2 222.4l-.1.6-.9 4.3v.2a158.8 158.8 0 0 1-11.1 32.6l-.2.4c-18.7 44.3-59.7 111.9-148.9 185.6-89.2-73.7-130.2-141.3-148.9-185.6l-.2-.4a169.3 169.3 0 0 1-11.1-32.6v-.2c-.6-2.3-.8-3.8-.9-4.3l-.1-.7A164.4 164.4 0 0 1 238.4 26.9a164.4 164.4 0 0 1 161.2 195.5z"/><path d="M238.4 71.9c-66.9 0-121.4 54.5-121.4 121.4s54.5 121.4 121.4 121.4 121.4-54.5 121.4-121.4S305.3 71.9 238.4 71.9zm0 215.8a94.5 94.5 0 0 1 0-188.8 94.5 94.5 0 0 1 0 188.8z"/></g></svg>
          Ver en Google Maps
        </a>

        <a class="contact-option" id="contact-send-email" :href=" 'mailto:'+mail" rel="nofollow" target="_blank">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14" width="512" height="512"><g :fill="brand_color"><path d="M7 9L5.3 7.5l-5 4.2c.2.2.4.3.7.3h12c.3 0 .5-.1.7-.3l-5-4.2L7 9z"/><path d="M13.7 2.3A1 1 0 0 0 13 2H1a1 1 0 0 0-.7.3L7 8l6.7-5.7zM0 2.9v8.3L4.8 7zM9.2 7l4.8 4.2V2.9z"/></g></svg>
          Enviar email
        </a>

        <a id="hide-contact-options-menu" @click.stop.prevent="Toggle()" href="javascript:{}" :style="{'color': brand_color, 'text-align': 'center', 'font-weight': 'bold'}">
          CERRAR
        </a>

      </div>

    </div>
    </transition>

  </section>


</template>

<script>
  export default{
    props: [
      "brand_color",
      "tel",
      "whatsapp",
      "google_maps",
      "mail"
    ],
    data: function(){
      return {
        is_active: false
      };
    },
    methods: {
      Toggle: function(){
        if( this.is_active ){
          this.is_active = false;
        }else{
          this.is_active = true;
        }
      }
    }
  }
</script>

<style lang="scss">
  $small-screen-up: 601px !default;
  $medium-screen-up: 993px !default;
  $large-screen-up: 1201px !default;
  $small-screen: 600px !default;
  $medium-screen: 992px !default;
  $large-screen: 1200px !default;
  $medium-and-up: "only screen and (min-width : #{$small-screen-up})" !default;
  $large-and-up: "only screen and (min-width : #{$medium-screen-up})" !default;
  $extra-large-and-up: "only screen and (min-width : #{$large-screen-up})" !default;
  $small-and-down: "only screen and (max-width : #{$small-screen})" !default;
  $medium-and-down: "only screen and (max-width : #{$medium-screen})" !default;
  $medium-only: "only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})" !default;



  #contact-button{

    cursor: pointer;
    position: fixed;

    bottom: 20px;
    left: 20px;
    z-index: 100001;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    text-align: center;

    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.53);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.53);

    display: block;
    visibility: visible;
    // display: none;
    // visibility: hidden;
    @media #{$small-and-down} {
      bottom: 6px;
      left: 6px;
      &{
        display: block;
        visibility: visible;
      }
    }

    svg{
      vertical-align: middle;
      padding-top: 13px;
      width: 43px;
      height: 43px;
    }
  }

  #contact-popup{
    position: fixed;
    background-color: rgba(0,0,0,0.75);

    top: 0;
    left: 0;
    z-index: 100000;
    width: 100vw;
    height: 100vh;

    // display: none;
    // visibility: hidden;
    display: block;
    visibility: visible;
    @media #{$small-and-down} {
      &{
        display: block;
        visibility: visible;
      }
    }

    .popup-container {
      margin-top: 15%;

      background-color: white;
      width: 33%;
      margin-left: auto;
      margin-right: auto;
      border-radius: 4px;
      display: block;
      padding: 8px;

      @media #{$medium-and-down}{
        width: 55%;
        margin-top: 20%;
      }
      @media #{$small-and-down}{
        width: 80%;
        margin-top: 50%;
      }

      a{
        color: rgba(0,0,0,0.85);
        vertical-align: middle;
        width: 100%;
        display: block;
        clear: both;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 16px;
        text-decoration: none;
        border-bottom: 1px solid rgb(230,230,230);
        @media #{$medium-and-up}{
          &#contact-phone-call{
            display: none;
            visibility: hidden;
          }
        }
      }
      svg{
        vertical-align: middle;
        margin-right: 6px;
        margin-left: 6px;
        width: 30px;
        height: 30px;
      }
    }
  }

  .fade-down-enter-active, .fade-down-leave-active {
    transition: all .4s;

  }
  .fade-down-enter, .fade-down-leave-to {
    opacity: 0;
    transform: translateX(-100%);
  }
</style>
