<template lang="html">
  <section id="form-wrap">
    <div class="row wid-100 auto options fon-18 s-fon-14">
      <div :class="{'selected': (view == 'info') }" class="col l6 m6 s6 center-align v-pad-16 s-pad-18">
        <a  href="#" @click.prevent.stop=" view = 'info' ">Quiero pedir informes</a>
      </div>
      <div :class="{'selected': (view == 'cita') }" class="col l6 m6 s6 center-align v-pad-16 s-pad-18">
        <a  href="#" @click.prevent.stop=" view = 'cita' ">Quiero agendar una cita</a>
      </div>
    </div>


    <VueForm  :id="id" action="/submit_form" method="post" :success_message="success_message" :error_message="error_message" >
      <input type="hidden" v-model="view" value="">

      <label for="">Nombre</label>
      <input type="text" v-model="name" value="">

      <label for="">Correo</label>
      <input type="email" v-model="email" value="">

      <label for="">Teléfono</label>
      <input type="text" v-model="phone" value="">

      <div v-show=" view == 'cita' ">
        <label for="">Fecha en que te gustaría agendar tu cita</label>
        <input type="date" v-model="date" name="date" value="">

        <label for="">Horario en que te gustaría agendar tu cita</label>
        <div class="block radio">
          <input type="radio" v-model="time" name="time" value="Por la mañana">Por la mañana<br>
          <input type="radio" v-model="time" name="time" value="Por la tarde">Por la tarde<br>
        </div>
      </div>

      <label for="">Mensaje</label>
      <textarea name="message" v-model="message" rows="4" cols="10"></textarea>

      <p class="fon-14 bold pad-4 brandcolor center-align" v-show=" view == 'cita' ">* Confirmaremos tu cita por email o Whatapp en las próximas 24 horas.</p>

      <button v-show="! is_sent" @click.prevent.stop="Send" type="button" name="button">Enviar</button>

    </VueForm>

  </section>
</template>

<script>
  import VueForm from '~/components/library/VueForm.vue'

  export default{
    data: function(){
      return {
        'success_message': "",
        'error_message': "",
        'id': 'contact-form',
        'is_sent': false,

        'name': '',
        'email': '',
        'phone': '',
        'date': '',
        'time': 'Por la mañana',
        'message': ''
      };
    },
    props: {
      'view':{
        default: 'info'
      }
    },
    components: {
      VueForm
    },
    methods: {
      'Send': function(){
        this.error_message = '';
        this.success_message = '';
        this.$bus.$emit( this.id, this.$data, (res, respose)=>{
          console.log(res);
          if( res.status ){
            this.is_sent = true;
            this.success_message = "¡Gracias! Pronto nos pondremos en contacto contigo";
          }else{
            this.error_message = res.message;
          }
        });
      }
    }
  }
</script>

<style lang="scss">
  @import "~assets/materialize_mkti";

  #form-wrap{
    border-radius: 20px;
    border: 1px solid #dbdbdb;
    border-top: 1px solid white;
    .options{
      .col{
        border-radius: 20px 20px 0px 0px;
        border: 1px solid #dbdbdb;
        border-left-width: 0px;
        border-right-width: 0px;
        opacity: 0.7;
        background-color: #dbdbdb;
        a{
          @extend .v-pad-16, .s-pad-8;
          display: block;
        }
        &.selected{
          background-color: white;
          opacity: 1.0;
          font-weight: bold;
          border-bottom: 1px solid white;
        }
      }
    }

    form{
      padding: 8px;
      padding-bottom: 30px;
    }
  }

  #contact-form{
      label{
        font-weight: bold;
        font-size: 0.8rem !important;
        color: $brand-color !important;
        text-transform: uppercase !important;
      }

      button{
        background-color: $brand-color !important;
      }
  }
</style>
