<template lang="html">
  <section id="footer">

    <div class="row fondo v-pad-64 sv-pad-32 s-fon-16">
      <div class="col l5 m12 s12 colorblanco">
        <div class="h-mar-64 sh-mar-16 imgapora">
          <img src="~assets/svg/aporafont_footer.svg" alt="">
          <p class="semiitalic">Wellness Pro Age Management</p>
          <p>Una clínica de medicina funcional Antiage que reúne un equipo de profesionales en continua actualización.</p>
        </div>
      </div>
      <div class="col l1 m0 s0">
        <!-- espacio -->
      </div>
      <div class="links col l3 m12 s12 colorblanco">
        <div class="mh-pad-64 sh-pad-16">
          <p class="bold fon-20 s-fon-16">Servicios:</p>
          <p><a href="/medicina">Medicina Estética</a></p>
          <p><a href="/nutricion">Nutrición Personalizada</a></p>
          <p><a href="/age">Age Management</a></p>
          <p><a href="/wellness">Wellness y Aparatología</a></p>
          <p><a href="/dermofarmacia">Dermofarmacia</a></p>
        </div>
      </div>
      <div class="col l3 m12 s12 colorblanco contacto">
        <div class="h-pad-16 mh-pad-64 sh-pad-16">
          <p class="bold fon-20 s-fon-16">Ubicación:</p>
          <p><img class="ico" src="~assets/svg/icon_location.svg" alt="">
            Av. Moctezuma #420, Jardines del sol Zapopan, CP 45050, Jalisco, México. <br><br>
            <b class="bold fon-20 s-fon-16">Horarios de atención:</b><br>
            • Lun-Vie: 9am a 2pm y de 4pm a 7pm <br>
            • Sábados: 10am a 2pm
          </p>
          <!-- <div class="iconos auto s-center-align v-mar-32">
            <p class="bold fon-20 s-fon-16">Redes sociales:</p>
            <a href="https://www.facebook.com/ClinicaApora/" rel="nofollow" target="_blank"><img src="~assets/svg/icon_fb.svg" alt=""></a>
            <a href="https://www.instagram.com/clinica_apora/" target="_blank" rel="nofollow"><img src="~assets/svg/icon_insta.svg" alt=""></a>
            <a href="https://api.whatsapp.com/send?phone=523310958295" target="_blank"><img src="~assets/svg/icon_whats.svg" alt=""></a>
          </div> -->
        </div>
      </div>
    </div>

    <div class="copy fon-12 pad-8">
      Médico responsable. Dra. Gissela Chávez Lizardi. Cédula 8950100. Sitio desarrollado por
      <a href="https://mkti.mx/" target="_blank">MKTi Marketing Digital en Guadalajara</a>.
    </div>

    <TheContactButton
      brand_color="#17aaaa"
      tel="3324718805"
      whatsapp="523310958295"
      google_maps="https://goo.gl/maps/BQn1QrmzRZE2"
      mail="recepcion@clinicaapora.mx"
    />
  </section>
</template>

<script>
  import TheContactButton from '~/components/TheContactButton.vue'

  export default{

    components: {
      TheContactButton
    }
  }
</script>

<style lang="scss">
  @import "~assets/materialize_mkti";
  #footer{
    background-image: linear-gradient(-80deg, #90D1BB, #073E3E 65%);
    .links{
      a{
        color: inherit;
        &:hover{
          text-decoration: underline;
        }
      }
    }
    .fondo{
      background-image: url("~assets/svg/logohalf_footer.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: left;
      .imgapora{
        img{
          width: 100%;
          max-width: 270px;
          @media #{$small-and-down}{
            max-width: 180px;
          }
        }
      }
    }
    .iconos{
      img{
        width: 45px;
        height: auto;
        padding: 8px;
      }
    }
    .contacto{
      padding-right: 32px;
      .ico{
        margin-right: 8px;
        vertical-align: bottom;
      }
    }

    .copy{
      color: white;
      text-align: right;
      a{
        text-decoration: underline;
      }
    }
  }
</style>
