<template lang="html">
  <div class="">
    <header id="header">

      <div class="row">
        <div class="col l3 m3 s12 s-center-align">
          <a href="/">
            <img src="~assets/logo.png" alt="" class="logo">
          </a>
        </div>

        <div class="col l9 m9 s0 ">
            <div class="colorverde items block right">
              <a href="/clinica">CLÍNICA APORA</a>
              <a id="submenu" href="/servicios"
                @mouseover=" submenu.visible = true "
                @mouseleave=" submenu.visible = false "
                >SERVICIOS</a>
              <a href="/masinformacion">MÁS INFORMACIÓN</a>
              <a href="https://blog.clinicaapora.mx/">NOTICIAS</a>
              <a class="bold" href="/contacto">CONTACTO</a>
            </div>
        </div>
      </div>

      <transition name="submenu-fade">
        <div v-if="submenu.visible"
          @mouseover=" submenu.visible = true "
          @mouseleave=" submenu.visible = false "
          class="submenu" :style="{
          'width': submenu.width + 'px',
          'top': submenu.top + 'px',
          'left': submenu.left + 'px',
          'display': 'block'
        }">
          <a href="/medicina">Medicina Estética</a>
          <a href="/nutricion">Nutrición Personalizada</a>
          <a href="/age">Age Management</a>
          <a href="/wellness">Wellness y Aparatología</a>
          <a href="/dermofarmacia">Dermofarmacia</a>
        </div>
      </transition>

      <TheMobileMenu fill="#40A4A4">
        <section v-show="mview == 'menu'">
          <a href="/clinica">CLÍNICA APORA</a>
          <a href="#" @click.prevent.stop=" mview = 'servicios' ">SERVICIOS</a>
          <a href="/masinformacion">MÁS INFORMACIÓN</a>
          <a href="https://blog.clinicaapora.mx/">NOTICIAS</a>
          <a class="bold" href="/contacto">CONTACTO</a>
        </section>
        <section v-show="mview == 'servicios'">
          <a href="#" @click.prevent.stop=" mview = 'menu' "><b>< Regresar</b></a>
          <a href="/medicina">Medicina Estética</a>
          <a href="/nutricion">Nutrición Personalizada</a>
          <a href="/age">Age Management</a>
          <a href="/wellness">Wellness y Aparatología</a>
          <a href="/dermofarmacia">Dermofarmacia</a>
        </section>
      </TheMobileMenu>

    </header>
    <div class="hueco">&nbsp;</div>
    <div id="social-head">
      <a href="https://www.facebook.com/ClinicaApora/" rel="nofollow" target="_blank"><img src="~assets/icons/fb_.png" alt=""></a>
      <a href="https://www.instagram.com/clinica_apora/" target="_blank" rel="nofollow"><img src="~assets/icons/ig_.png" alt=""></a>
      <a href="https://api.whatsapp.com/send?phone=523310958295" target="_blank"><img src="~assets/icons/wa_.png" alt=""></a>
    </div>
  </div>


</template>

<script>
import TheMobileMenu from '~/components/TheMobileMenu.vue'

export default {
  components: {
    TheMobileMenu
  },
  data: function(){
    return {
      'mview': 'menu',
      'submenu': {
        'visible': false,
        'left': "100px",
        'top': "100px",
        'width': "100px"
      }
    };
  },
  mounted: function(){
    this.getSubmenuPosition();
    window.onresize = (event)=>{
      this.getSubmenuPosition();
    };
    window.onscroll = (event)=>{
      this.submenu.visible = false;
      this.getSubmenuPosition();
    };
  },
  methods: {
    'getSubmenuPosition': function(){
      var box = document.getElementById('submenu').getBoundingClientRect();
      this.submenu.left = box.x;
      this.submenu.top = (box.y+box.height) - 8 ;
      this.submenu.width = box.width;
    }
  }
}
</script>

<style lang="scss">
  @import "~assets/materialize_mkti";

  .submenu-fade-enter-active, .submenu-fade-leave-active{
    transform-origin: 50% 0%;
    transition: all .3s;
    opacity: 1.0;
    transform: scaleY(1.0);
  }

  .submenu-fade-enter, .submenu-fade-leave-to{
    transform-origin: 50% 0%;
    opacity: 0.0;
    transform: scaleY(0.0);
  }

  #social-head{

    position: fixed;
    display: block !important;
    width: 36px;
    padding: 0px;
    z-index: 110000;
    background-color: white;
    border-radius: 0px 5px 5px 0px;
    left: 0;
    top: 30%;
    @extend .transition, .z-depth-1;
    &:hover, &:active{
      @extend .z-depth-3;
    }
    a{
      display: block;
      clear: both;
      @extend .transition;
      img{
        width: 100%;
        height: auto;
      }
      &:hover, &:active{
        transform: scale(1.25);
      }
    }

    @media #{$small-and-down}{
      top: auto;
      bottom: 12%;
      width: 34px;
    }
  }
  .hueco{
    height: 0px !important;
    display: none;
    @media #{$small-and-down}{
      display: block;
      height: 60px !important;
    }
  }
  #header{
    padding-bottom: 10px;
    .submenu{
      @extend .z-depth-2;
      position: fixed !important;
      background-color: white;
      display: block;
      height: auto;
      z-index: 1200000;
      border-radius: 0 0 20px 20px;
      a{
        width: 94%;
        margin: 0px auto;
        color: black;
        display: block;
        padding: 15px 10px;
        position: relative;
        text-transform: uppercase;
        font-size: 0.7rem;
        line-height: 0.7rem;
        border-bottom: 1px solid rgba(0,0,0,0.3);
        &:hover{
          font-weight: bold;
        }
      }

    }

    background-color: white;
    z-index: 10000;

    @media #{$small-and-down}{
      padding-bottom: 1px;
      position: fixed;
      width: 100%;
      top: 0;
      left: 0;
    }

    .logo{
      width: 100%;
      max-width: 260px;
      height: auto;
      display: block;
      margin-left: 15px;
      margin-top: 15px;
      @media #{$small-and-down}{
        margin-top: 4px;
        margin-left: auto;
        margin-right: auto;
        max-width: 150px;
        padding: 3px;
      }
    }
    .items{
      width: 100%;
      text-align: right;

      a{
        width: 15%;
        text-align: center;
        display: inline-block;
        padding: 4px;
        margin-top: 45px;
        font-size: 0.9rem;
        @extend .transition;

        &:hover{
          font-weight: bold;
          color: #17aaaa;
        }

        &.bold{
          font-weight: normal !important;
          color: white;
          background-color: #17aaaa;
          padding: 6px 12px;
          border-radius: 60px;
          @extend .z-depth-1;
          &:hover{
            @extend .z-depth-3;
          }
        }
        @media #{$medium-and-down}{
          width: 19%;
          margin-top: 40px;
          font-size: 16px;
        }
        @media #{$small-and-down}{
          margin: 0px !important;
          font-size: 16px;
        }
      }
    }
  }
</style>
