<template lang="html">
  <div id="questions" class="row v-pad-128 sv-pad-64">

    <div class="col s12 m6 l6 push-l3 push-m3 center-align">
      <div v-if=" mensaje != '' " class="diagnostico fon-20 brandcolor s-fon-16 pad-8" v-html="mensaje"></div>
      <div v-else class="">
        <strong class="brandcolor fon-24 s-fon-18 pad-2">Indentifica tus sintomas</strong>
        <div class="pregunta v-pad-8 sv-pad-4 fon-24 s-fon-20 bold">
          #{{ (idx+1) }} {{ pregunta }}
        </div>
      </div>


    </div>

    <div class="col s6 m3 l3 pull-l6 pull-m6 center-align">
      <div v-show=" mensaje == '' " class="opt">
        <a href="#" @click.prevent.stop="No">No</a>
      </div>
    </div>

    <div class="col s6 m3 l3 center-align">
      <div v-show=" mensaje == '' " class="opt">
        <a href="#" @click.prevent.stop="Si">Sí</a>
      </div>
    </div>
  </div>

</template>

<script>
  export default {
    data: function(){
      return {
        'mensaje': '',
        'all_preguntas': [
          "¿Tienes dificultades para conciliar el sueño?",
          "¿Eres irritable o te molestas por cosas pequeñas?",
          "¿En ocasiones te sientes triste o deprimido sin razón aparente?",
          "¿Ha disminuido tu libido o deseo sexual?",
          "¿Tienes olvidos frecuentes o mala memoria?",
          "¿Sientes cansancio? o ¿rindes menos en el trabajo?",
          "¿Sientes ansiedad, a menudo sin razón aparente?",
          "¿Te sientes agotado en la cama pero la cabeza no deja de darle vueltas a las cosas?",
          "¿Sueles despertar entre las 3 y 4 de la mañana?",
          "¿Has perdido autoestima y confianza?",
          "¿Pierdes la paciencia de forma que no controlas?",
          "¿Tienes antojo por comidas saladas y/o dulces?",
          "¿Tienes bruxismo? (aprietas o rechinas los dientes mientras duermes)",
          "¿Has notado pérdida de pelo en piernas, brazos, cabeza y/o parte exterior de las cejas?",
          "¿Te sientes cansado en la noche pero te resistes a ir a la cama y cuando por fin vas a la cama te sientes muy despierto?",
          "¿Sientes molestias musculares o articulares?"
        ],
        'preguntas': [],
        'cuantas_preguntas': 8,
        "idx": 0,
        "sis": 0,
        "nos": 0
      };
    },
    mounted: function(){
      var shuffled = this.all_preguntas.sort( () => 0.5 - Math.random() );
      this.preguntas = shuffled.slice(0, this.cuantas_preguntas );
    },
    methods: {
      "Si": function(){
        this.sis++;

        if( (this.idx+1) >= this.preguntas.length ){
          if(this.sis >= 4){
            this.mensaje = "<strong>Terminaste el cuestionario</strong><br>Tu riesgo de tener un desbalance hormonal es <strong>MUY ALTO</strong>.<br>Te invitamos a una consulta de evaluación gratuita. <a href='/contacto'>Ponte en contacto con nosotros.</a>";
          }else{
            this.mensaje = "<strong>Terminaste el cuestionario</strong><br>Tu riesgo de tener un desbalance hormonal es <strong>bajo</strong>.<br>Sin embargo te invitamos a una consulta de evaluación gratuita. <a href='/contacto'>Ponte en contacto con nosotros.</a>";
          }

          return;
        }
        this.idx += 1;
      },
      "No": function(){
        this.nos++;
        if( (this.idx+1) >= this.preguntas.length ){
          this.mensaje = "<strong>Terminaste el cuestionario</strong><br>Tu riesgo de tener un desbalance hormonal es <strong>bajo</strong>.<br>Sin embargo te invitamos a una consulta de evaluación gratuita. <a href='/contacto'>Ponte en contacto con nosotros.</a>";
          return; }
        this.idx += 1;
      }
    },
    computed: {
      pregunta: function(){
        return this.preguntas[this.idx];
      }
    }
  }
</script>

<style lang="scss">
  @import "~assets/materialize_mkti";

  #questions{
    .diagnostico{
      a{
        text-decoration: underline;
      }
    }
    .brandcolor{
      text-transform: uppercase;
      font-weight: normal;
    }
    .pregunta{
      color: #444444;
    }
    .opt{
      margin-top: 20px;
      @extend .auto, .transition, .z-depth-2;
      width: 100px;
      height: 100px;
      border-radius: 50px;
      color: white;
      text-align: center;
      vertical-align: middle;
      background-color: $brand-color;
      font-size: 1.5rem;
      cursor: pointer;
      &:hover{
        background-color: #444444;
        @extend .z-depth-4;
      }
      a{
        padding-top: 30px;
        display: block;
      }
    }
  }
</style>
