<template lang="html">
  <div :id="id" class="vue-paralax" :style="{
      'background-image': 'url('+src+')',
      'background-position': background_position
    }">
    <div v-show="layer" class="black-layer"></div>
    <slot></slot>
  </div>
</template>

<script>
  export default {
    data: function(){
      return {
        'background_position': "50% 50%"
      };
    },
    props: {
      'id': {
        default: 'paralax'
      },
      'layer':{
        default: false
      },
      'position': {
        default: "50%"
      },
      'src': {
        default: '#'
      }
    },
    mounted: function(){
      var element = document.getElementById( this.id );
      window.addEventListener("scroll", ()=>{
        this.background_position = (this.position +" "+ this.getPercentage(element) + "%");
      });
    },
    methods: {
      getPercentage: function(element) {
        var bounding = element.getBoundingClientRect();
        // console.log(window.innerHeight);
        var y = bounding.y;
        var percentage = parseInt( (1-( (y+bounding.height) / (window.innerHeight+bounding.height))) *100 );
        percentage = Math.min( Math.max(percentage,0), 100);
        return percentage;
      }
    },
  }
</script>

<style lang="scss">
  .vue-paralax{
    background-size: auto 300%;
    background-position: 50% 50%;

    .black-layer{
      width: 100%;
      height: 100%;
      display: inline-block;
      position: absolute;
      top: 0px;
      left: 0px;
      background-color: rgba(0,0,0,0.45);
    }
  }
</style>
