<template>
  <section>

    <transition name="video-popup-fade">
      <section v-show="is_visible" class="popup">
        <svg @click.stop.prevent="Close()" class="icon close" version="1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 213 213">
          <path fill="white" d="M132 106l76-75a18 18 0 1 0-26-26l-76 76L31 5A18 18 0 1 0 5 31l76 75-76 76a18 18 0 0 0 26 26l75-76 76 76a18 18 0 1 0 26-26l-76-76z" fill-rule="evenodd" clip-rule="evenodd"/>
        </svg>
        <div class="height vertical-align">
          <slot>
            <iframe :id="id" width="85%" height="500" :src=" src + '?enablejsapi=1' " frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          </slot>
        </div>
      </section>
    </transition>


  </section>
</template>

<script>
  export default {
    mounted: function(){
      // Listen to EventBus.
      this.$bus.$on( "show-"+this.id, ()=>{
        this.Open();
      });

      this.$bus.$on( "hide-"+this.id, ()=>{
        this.Close();
      });

      // YouTube API
      window.YouTubeTag = document.createElement('script');
      window.YouTubeTag.src = "//www.youtube.com/player_api";

      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore( window.YouTubeTag, firstScriptTag);

      window.onYouTubePlayerAPIReady = ()=>{
        this.Player = new YT.Player( this.id, {
          events: {
            'onReady': (event)=>{
              if( this.is_visible ){
                this.Player.playVideo();
              }
            }
          }
        });
      };

      // Close on ESC keypress.
      document.onkeydown = (evt)=>{
          evt = evt || window.event;
          if (evt.keyCode == 27) {
            if(this.is_visible){
              this.Close();
            }
          }
      };

    },

    data: function(){
      return {
        Player: {},
        is_visible: false
      };
    },
    props: {
      id: {
        type: String,
        required: true
      },
      src: {
        type: String,
        default: "https://www.youtube.com/watch?v=dQw4w9WgXcQ" //Rick rolled
      }
    },
    methods: {
      Toggle: function(){
        if(this.is_visible){
          this.Close();
        }else{
          this.Open();
        }
      },
      Open: function(){
        this.Player.playVideo();
        this.is_visible = true;
      },
      Close: function(){
        this.Player.pauseVideo();
        this.is_visible = false;
      }
    }
  }
</script>

<style lang="scss">
  @import "~assets/materialize_mkti";

  $video-popup-offset: -70px;

  .video-popup-fade-enter-active, .video-popup-fade-leave-active{
    transition: all .2s;
    opacity: 1.0;
    -moz-transform: translateX(0px) translateY(0px);
    -webkit-transform: translateX(0px) translateY(0px);
    -o-transform: translateX(0px) translateY(0px);
    -ms-transform: translateX(0px) translateY(0px);
    transform: translateX(0px) translateY(0px);
  }

  .video-popup-fade-enter, .video-popup-fade-leave-to{
    opacity: 0.0;
    -moz-transform: translateX(0px) translateY($video-popup-offset);
    -webkit-transform: translateX(0px) translateY($video-popup-offset);
    -o-transform: translateX(0px) translateY($video-popup-offset);
    -ms-transform: translateX(0px) translateY($video-popup-offset);
    transform: translateX(0px) translateY($video-popup-offset);
  }

  .popup{
    z-index: 10000;
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: block;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.7);

    .icon{
      &.close{
        display: block;
        width: 25px;
        height: 25px;
        cursor: pointer;
        position: absolute;
        margin: 20px;
        right: 20px;
        top: 0px;

        @media #{$small-and-down}{
          width: 25px;
          height: 25px;

          margin: 15px;
        }
      }
    }

    .vertical-align > *{
      z-index: 10001;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

  }
</style>
