<template lang="html">
  <form :id="id" class="vform" :class="{'disabled': loading}">
    <div>

      <slot></slot>

      <div v-show="loading" class="loading">
        <LoadingIcon/>
      </div>
      <div v-html="success_message" v-show=" success_message != '' " class="success-message"></div>
      <div v-html="error_message" v-show=" error_message != '' " class="error-message"></div>

    </div>
  </form>
</template>

<script>
  import LoadingIcon from '~/components/library/LoadingIcon.vue'

  export default {
    data: function(){
      return {
        "loading": false
      };
    },
    props: {
      'id': {
        default: "vue-form"
      },
      'action': {
        default: "/"
      },
      'method': {
        default: "post"
      },
      'enctype': {
        default: "multipart/form-data"
      },
      'success_message': {
        default: ""
      },
      'error_message': {
        default: ""
      }
    },
    mounted: function(){
      //Form submition
      this.$bus.$on( this.id, (FormAssoc, FormCallback, FormFiles)=>{
        var formData = this.getFormData(FormAssoc);
        var FormFiles = FormFiles || [];
        this.sendFormData(FormCallback, formData);
      });

      //External Success
      this.$bus.$on( ("success_"+this.id), (success_message)=>{
        this.success_message = success_message;
      });

      //External Error
      this.$bus.$on( ("error_"+this.id), (error_message)=>{
        this.error_message = error_message;
      });
    },
    methods: {
      getFormData: function(FormAssoc){
        var formData = new FormData();
        for (var key in FormAssoc) {
          var value = FormAssoc[key];
          formData.append(key, value);
        }
        return formData;
      },
      sendFormData( FormCallback, formData){

        var enctype = this.enctype;
        var query_string_parameters = '';

        if( this.method == "get"){
          enctype = 'application/x-www-form-urlencoded';
          var formAssoc = {};
          for(var pair of formData.entries() ) {
            formAssoc[pair[0]] = pair[1]; }

          query_string_parameters = "?" + this.$assoc2query(formAssoc);
        }

        this.loading = true;
        this.success_message = "";
        this.error_message = "";
        this.$axios[ this.method ]( (this.api + this.action + query_string_parameters) , formData , {headers: {'Content-Type': enctype}} )
        .then( (response) =>{
          this.loading = false;
          FormCallback( response.data, response );
        })
        .catch( (Err) => {
          this.loading = false;
          this.error_message = "Error al enviar solicitud al servidor. Por favor intenta de nuevo.";
          console.log(Err);
        });

      }
    },
    components: {
      LoadingIcon
    }
  }
</script>

<style lang="scss">
  @import "~assets/materialize_mkti";

  form.vform{
    label{
      margin-bottom: 6px !important;
    }
    input,select,textarea{
      margin-top: 2px !important;
      margin-bottom: 10px !important;
      width: 98%  !important;
      display: block !important;
      border: 1px solid rgba(0,0,0,0.4) !important;
      border-radius: 6px !important;
      padding: 4px !important;
    }
    textarea{
      min-height: 100px;
      width: 100% !important;
    }

    input[type="radio"]{
      opacity: 1.0 !important;
      position: relative !important;
      pointer-events: auto !important;
      display: inline-block !important;
      width: 16px !important;
      height: 16px !important;
      margin-right: 8px !important;
      vertical-align: middle !important;
    }
  }

  form.vform{
    display: block;
    span{
      margin-top: 8px;
      margin-bottom: 8px;
      display: block;
    }
    label{
      font-size: 0.9rem;
    }
    input, select{
      font-size: 1.5rem;
      height: auto !important;
      min-height: auto !important;
    }
    .radio{
      font-size: 1rem;
      margin-top: 3px !important;
      margin-bottom: 3px !important;
    }
    select{
      display: block !important;
      visibility: visible !important;
      height: auto !important;
    }
    &.disabled *{
      cursor: wait;
      touch-action: none;
      pointer-events: none;
      opacity: 0.85;
    }
    .loading, .success-message, .error-message{
      width: 100%;
      text-align: center;
      display: block;
      padding-top: 4px;
      padding-bottom: 4px;
    }
    .loading{
      color: grey;
    }
    .success-message{
      font-size: 0.9rem;
      color: green;
    }
    .error-message{
      font-size: 0.9rem;
      color: red;
    }

    @media #{$small-and-down}{
      label{
        font-size: 1rem !important;
      }
      input, select{
        font-size: 1.5rem !important;
      }
      input[type="radio"]{
        width: 20px !important;
        height: 20px !important;
        margin-right: 8px !important;
      }
      .success-message, .error-message{
        font-size: 1.1rem;
      }
    }
  }
</style>
