@charset "UTF-8";
// @import url('https://fonts.googleapis.com/css?family=Gothic+A1:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700');

html,body{
  // font-family: 'Gothic A1', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  @media #{$small-and-down}{
    font-size: 0.85rem;
  }
}

em,.light{
  font-weight: 300;
  font-style: normal;
}

.justify{
  text-align: justify !important;
}

strong,.strong{
  font-weight: 700;
  font-style: normal;
}

a{
  color: inherit;
  text-decoration: none;
}

$white: white;
$light-gray: rgb(220,220,220);
$dark-gray: rgba(0,0,0,0.86);


$dark-green: #40A4A4;

.gray{
  color: #777;
}

$brand-color: #17aaaa;
$color: #23C1D7;
$light-color: #4E6E91;
$dark-color: #0b51a6;

.brandcolor{
  color: $brand-color;
}

h1{
  font-size: 1.8rem;
  margin: 0px;
  padding: 26px;
}

.subtitle{
  display: block;
  text-align: center;
  @extend .v-pad-16;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  font-weight: 400;
}

.boton{
  @extend .transition;
  background-color: #23C1D7;
  color: white;
  padding: 5px 40px;
  border-radius: 3px;
  display: inline-block;
  font-size: 1.05rem;
  &:hover,&:active{
    @extend .z-depth-3;
    background-color: #17a8bc;
  }
}

// APORA

$colorverde: #40A4A4;
.colorverde{
  color: #40A4A4;
}

.colorblanco{
  color: white;
}

.colorgris{
  color: #777777
}

.bold{
  font-weight: 700;
}

.semibold{
  font-weight: 500;
}

.lightitlaic{
  font-weight: 300;
  font-style: italic;
}

.semiitalic{
  font-weight: 500;
  font-style: italic;
}

.btn_cta{
  background-color: #17aaaa;
  border-radius: 15px;
  padding: 15px 30px;
  display: inline-block;
  @extend .transition;
  @extend .z-depth-2;
  &:hover, &:active{
    @extend .z-depth-4;
    background-color: #444444;
  }
}

.mini_cta, .minicta{
  background-color: $colorverde;
  padding: 6px 14px;
  color: white;
  font-size: 15px;
  border-radius: 6px;
  @extend .transition;
  @extend .z-depth-1;
  &:hover, &:active{
    background-color: #444444;
    @extend .z-depth-3;
  }
}

  hr{
    border-bottom: 0px !important;
    border-top: 2px solid $brand-color;
    @extend .v-mar-32, .auto;
    width: 94%;
  }


.circulos a{
  &:hover, &:active{
    .colorverde{
      color: black !important;
      text-decoration: underline;
    }
  }

}


.banner_top{
  background-image: url("~assets/img/clinicabannertop.png");
  width: 100%;
  height: 500px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  position: relative;

  & > div{
    text-align: center;
    width: 100%;
    @extend .auto;
    color: white;
    position: absolute;
    display: block;
    top: 38%;
    @media #{$medium-and-down}{
      top: 38%;
    }
    @media #{$small-and-down}{
      top: 40%;
    }
    h2{
      font-size: 1.5rem;
    }
    p{
      font-size: 0.8rem;
    }
  }

}
