<template>
  <main>
    <TheHeader/>
      <nuxt/>
    <TheFooter/>
  </main>
</template>

<script>
  import TheHeader from '~/components/TheHeader.vue'
  import TheFooter from '~/components/TheFooter.vue'

  export default{
    components: {
      TheHeader,
      TheFooter
    }
  }
</script>

<style lang="scss">
  @import "~assets/materialize_mkti";

</style>
