.fon-2 { font-size: 2px; }
.fon-4 { font-size: 4px; }
.fon-6 { font-size: 6px; }
.fon-8 { font-size: 8px; }
.fon-10 { font-size: 10px; }
.fon-12 { font-size: 12px; }
.fon-14 { font-size: 14px; }
.fon-16 { font-size: 16px; }
.fon-18 { font-size: 18px; }
.fon-20 { font-size: 20px; }
.fon-22 { font-size: 22px; }
.fon-24 { font-size: 24px; }
.fon-26 { font-size: 26px; }
.fon-28 { font-size: 28px; }
.fon-30 { font-size: 30px; }
.fon-32 { font-size: 32px; }
.fon-34 { font-size: 34px; }
.fon-36 { font-size: 36px; }
.fon-38 { font-size: 38px; }
.fon-40 { font-size: 40px; }
.fon-50 { font-size: 50px; }
.fon-60 { font-size: 60px; }
.fon-70 { font-size: 70px; }
.fon-80 { font-size: 80px; }
.fon-90 { font-size: 90px; }
.fon-100 { font-size: 100px; }

@media #{$medium-and-down} {
  .m-fon-2 { font-size: 2px; }
  .m-fon-4 { font-size: 4px; }
  .m-fon-6 { font-size: 6px; }
  .m-fon-8 { font-size: 8px; }
  .m-fon-10 { font-size: 10px; }
  .m-fon-12 { font-size: 12px; }
  .m-fon-14 { font-size: 14px; }
  .m-fon-16 { font-size: 16px; }
  .m-fon-18 { font-size: 18px; }
  .m-fon-20 { font-size: 20px; }
  .m-fon-22 { font-size: 22px; }
  .m-fon-24 { font-size: 24px; }
  .m-fon-26 { font-size: 26px; }
  .m-fon-28 { font-size: 28px; }
  .m-fon-30 { font-size: 30px; }
  .m-fon-32 { font-size: 32px; }
  .m-fon-34 { font-size: 34px; }
  .m-fon-36 { font-size: 36px; }
  .m-fon-38 { font-size: 38px; }
  .m-fon-40 { font-size: 40px; }
  .m-fon-50 { font-size: 50px; }
  .m-fon-60 { font-size: 60px; }
  .m-fon-70 { font-size: 70px; }
  .m-fon-80 { font-size: 80px; }
  .m-fon-90 { font-size: 90px; }
  .m-fon-100 { font-size: 100px; }
}

@media #{$small-and-down} {
  .s-fon-2 { font-size: 2px; }
  .s-fon-4 { font-size: 4px; }
  .s-fon-6 { font-size: 6px; }
  .s-fon-8 { font-size: 8px; }
  .s-fon-10 { font-size: 10px; }
  .s-fon-12 { font-size: 12px; }
  .s-fon-14 { font-size: 14px; }
  .s-fon-16 { font-size: 16px; }
  .s-fon-18 { font-size: 18px; }
  .s-fon-20 { font-size: 20px; }
  .s-fon-22 { font-size: 22px; }
  .s-fon-24 { font-size: 24px; }
  .s-fon-26 { font-size: 26px; }
  .s-fon-28 { font-size: 28px; }
  .s-fon-30 { font-size: 30px; }
  .s-fon-32 { font-size: 32px; }
  .s-fon-34 { font-size: 34px; }
  .s-fon-36 { font-size: 36px; }
  .s-fon-38 { font-size: 38px; }
  .s-fon-40 { font-size: 40px; }
  .s-fon-50 { font-size: 50px; }
  .s-fon-60 { font-size: 60px; }
  .s-fon-70 { font-size: 70px; }
  .s-fon-80 { font-size: 80px; }
  .s-fon-90 { font-size: 90px; }
  .s-fon-100 { font-size: 100px; }
}
