
form{
  input, textarea, select, option{
    font-size: 1.0rem !important;
    height: 2rem !important;
    margin-bottom: 10px !important;
    margin-top: -8px !important;
  }

  .message{
    color: rgb(200,200,200);
    @extend .pad-8;
    font-weight: bold;
    &.success{
      color: green;
    }
    &.error{
      color: red;
    }
  }

  button{
    cursor: pointer;
    @extend .auto;
    @extend .v-mar-32;
    @extend .transition;
    @extend .z-depth-3;
    color: white;
    background-color: $dark-color;
    border: none;
    display: block;
    width: auto;
    padding: 10px 40px;
    font-weight: normal;
    font-size: 1.1rem;
    border-radius: 4px;

    &:hover{
      @extend .z-depth-1;
      background-color: black;
    }
  }
}

@media #{$medium-and-down} {

}

@media #{$small-and-down} {

}
