.hei-0 { height: 0%; }
.hei-5 { height: 5%; }
.hei-10 { height: 10%; }
.hei-15 { height: 15%; }
.hei-20 { height: 20%; }
.hei-25 { height: 25%; }
.hei-30 { height: 30%; }
.hei-35 { height: 35%; }
.hei-40 { height: 40%; }
.hei-45 { height: 45%; }
.hei-50 { height: 50%; }
.hei-55 { height: 55%; }
.hei-60 { height: 60%; }
.hei-65 { height: 65%; }
.hei-70 { height: 70%; }
.hei-75 { height: 75%; }
.hei-80 { height: 80%; }
.hei-85 { height: 85%; }
.hei-90 { height: 90%; }
.hei-95 { height: 95%; }
.hei-100 { height: 100%; }

@media #{$medium-and-down} {
  .m-hei-0 { height: 0%; }
  .m-hei-5 { height: 5%; }
  .m-hei-10 { height: 10%; }
  .m-hei-15 { height: 15%; }
  .m-hei-20 { height: 20%; }
  .m-hei-25 { height: 25%; }
  .m-hei-30 { height: 30%; }
  .m-hei-35 { height: 35%; }
  .m-hei-40 { height: 40%; }
  .m-hei-45 { height: 45%; }
  .m-hei-50 { height: 50%; }
  .m-hei-55 { height: 55%; }
  .m-hei-60 { height: 60%; }
  .m-hei-65 { height: 65%; }
  .m-hei-70 { height: 70%; }
  .m-hei-75 { height: 75%; }
  .m-hei-80 { height: 80%; }
  .m-hei-85 { height: 85%; }
  .m-hei-90 { height: 90%; }
  .m-hei-95 { height: 95%; }
  .m-hei-100 { height: 100%; }
}

@media #{$small-and-down} {
  .s-hei-0 { height: 0%; }
  .s-hei-5 { height: 5%; }
  .s-hei-10 { height: 10%; }
  .s-hei-15 { height: 15%; }
  .s-hei-20 { height: 20%; }
  .s-hei-25 { height: 25%; }
  .s-hei-30 { height: 30%; }
  .s-hei-35 { height: 35%; }
  .s-hei-40 { height: 40%; }
  .s-hei-45 { height: 45%; }
  .s-hei-50 { height: 50%; }
  .s-hei-55 { height: 55%; }
  .s-hei-60 { height: 60%; }
  .s-hei-65 { height: 65%; }
  .s-hei-70 { height: 70%; }
  .s-hei-75 { height: 75%; }
  .s-hei-80 { height: 80%; }
  .s-hei-85 { height: 85%; }
  .s-hei-90 { height: 90%; }
  .s-hei-95 { height: 95%; }
  .s-hei-100 { height: 100%; }
}
