
.mar-0 { margin: 0px; }
.mar-1 { margin: 1px; }
.mar-2 { margin: 2px; }
.mar-4 { margin: 4px; }
.mar-8 { margin: 8px; }
.mar-16{ margin: 16px; }
.mar-32{ margin: 32px; }
.mar-64{ margin: 64px; }
.mar-128{ margin: 128px; }

.v-mar-0 { margin-top: 0px; margin-bottom: 0px;}
.v-mar-1 { margin-top: 1px; margin-bottom: 1px;}
.v-mar-2 { margin-top: 2px; margin-bottom: 2px;}
.v-mar-4 { margin-top: 4px; margin-bottom: 4px;}
.v-mar-8 { margin-top: 8px; margin-bottom: 8px;}
.v-mar-16 { margin-top: 16px; margin-bottom: 16px;}
.v-mar-32 { margin-top: 32px; margin-bottom: 32px;}
.v-mar-64 { margin-top: 64px; margin-bottom: 64px;}
.v-mar-128 { margin-top: 128px; margin-bottom: 128px;}

.h-mar-0 { margin-left: 0px; margin-right: 0px;}
.h-mar-1 { margin-left: 1px; margin-right: 1px;}
.h-mar-2 { margin-left: 2px; margin-right: 2px;}
.h-mar-4 { margin-left: 4px; margin-right: 4px;}
.h-mar-8 { margin-left: 8px; margin-right: 8px;}
.h-mar-16 { margin-left: 16px; margin-right: 16px;}
.h-mar-32 { margin-left: 32px; margin-right: 32px;}
.h-mar-64 { margin-left: 64px; margin-right: 64px;}
.h-mar-128 { margin-left: 128px; margin-right: 128px;}

@media #{$medium-and-down} {
  .m-mar-0 { margin: 0px; }
  .m-mar-1 { margin: 1px; }
  .m-mar-2 { margin: 2px; }
  .m-mar-4 { margin: 4px; }
  .m-mar-8 { margin: 8px; }
  .m-mar-16{ margin: 16px; }
  .m-mar-32{ margin: 32px; }
  .m-mar-64{ margin: 64px; }
  .m-mar-128{ margin: 128px; }

  .mv-mar-0 { margin-top: 0px; margin-bottom: 0px;}
  .mv-mar-1 { margin-top: 1px; margin-bottom: 1px;}
  .mv-mar-2 { margin-top: 2px; margin-bottom: 2px;}
  .mv-mar-4 { margin-top: 4px; margin-bottom: 4px;}
  .mv-mar-8 { margin-top: 8px; margin-bottom: 8px;}
  .mv-mar-16 { margin-top: 16px; margin-bottom: 16px;}
  .mv-mar-32 { margin-top: 32px; margin-bottom: 32px;}
  .mv-mar-64 { margin-top: 64px; margin-bottom: 64px;}
  .mv-mar-128 { margin-top: 128px; margin-bottom: 128px;}

  .mh-mar-0 { margin-left: 0px; margin-right: 0px;}
  .mh-mar-1 { margin-left: 1px; margin-right: 1px;}
  .mh-mar-2 { margin-left: 2px; margin-right: 2px;}
  .mh-mar-4 { margin-left: 4px; margin-right: 4px;}
  .mh-mar-8 { margin-left: 8px; margin-right: 8px;}
  .mh-mar-16 { margin-left: 16px; margin-right: 16px;}
  .mh-mar-32 { margin-left: 32px; margin-right: 32px;}
  .mh-mar-64 { margin-left: 64px; margin-right: 64px;}
  .mh-mar-128 { margin-left: 128px; margin-right: 128px;}
}

@media #{$small-and-down} {
  .s-mar-0 { margin: 0px; }
  .s-mar-1 { margin: 1px; }
  .s-mar-2 { margin: 2px; }
  .s-mar-4 { margin: 4px; }
  .s-mar-8 { margin: 8px; }
  .s-mar-16{ margin: 16px; }
  .s-mar-32{ margin: 32px; }
  .s-mar-64{ margin: 64px; }
  .s-mar-128{ margin: 128px; }

  .sv-mar-0 { margin-top: 0px; margin-bottom: 0px;}
  .sv-mar-1 { margin-top: 1px; margin-bottom: 1px;}
  .sv-mar-2 { margin-top: 2px; margin-bottom: 2px;}
  .sv-mar-4 { margin-top: 4px; margin-bottom: 4px;}
  .sv-mar-8 { margin-top: 8px; margin-bottom: 8px;}
  .sv-mar-16 { margin-top: 16px; margin-bottom: 16px;}
  .sv-mar-32 { margin-top: 32px; margin-bottom: 32px;}
  .sv-mar-64 { margin-top: 64px; margin-bottom: 64px;}
  .sv-mar-128 { margin-top: 128px; margin-bottom: 128px;}

  .sh-mar-0 { margin-left: 0px; margin-right: 0px;}
  .sh-mar-1 { margin-left: 1px; margin-right: 1px;}
  .sh-mar-2 { margin-left: 2px; margin-right: 2px;}
  .sh-mar-4 { margin-left: 4px; margin-right: 4px;}
  .sh-mar-8 { margin-left: 8px; margin-right: 8px;}
  .sh-mar-16 { margin-left: 16px; margin-right: 16px;}
  .sh-mar-32 { margin-left: 32px; margin-right: 32px;}
  .sh-mar-64 { margin-left: 64px; margin-right: 64px;}
  .sh-mar-128 { margin-left: 128px; margin-right: 128px;}
}
