html,body{
  font-size: 18px;
}

.height{height: 100%;}
.aling{vertical-align: middle;}
.block{display: block;}
.inline{display: inline-block;}
.relative{position: relative;}
.absolute{position: absolute; top: 0; left: 0;}
.fixed{position: fixed; top:0; left: 0;}
.strong{font-weight: strong;}
.em,.italic{font-style: italic;}
.underline{text-decoration: underline;}
.no-underline{text-decoration: none;}
.border{ border: 1px solid black;}
.white-border{ border: 1px solid white;}

h1,h2,h4,h4,h5{
  margin: 0px;
  padding: 0px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.contain{  background-size: contain; }
.cover{ background-size: cover; }
.bg, .cover {
  background-size: cover;
  background-position: center center;
}
.contain{
  background-size: contain;
  background-position: center center;
}

.res{
  max-width: 100%;
  vertical-align: middle;
  img, svg{ height: auto; }
}

.text-shadow,.text-white-shadow{
  text-shadow: 3px 3px 5px #616161;
}
.text-black-shadow{
  text-shadow: 3px 3px 5px #191919;
}

.keep-ratio{padding-top: 62.5%;}
.circle{border-radius: 50%;}

.row, .col{
  margin: 0px;
  padding: 0px;
}

@media #{$small-and-down} {
  .s0{
    display: none;
  }
  .s-block{
    display: block;
  }
}
@media #{$medium-only} {
  .m0{
    display: none;
  }
  .m-block{
    display: block;
  }
}
@media #{$large-and-up} {
  .l0{
    display: none;
  }
}
