.wid-0 { width: 0%; }
.wid-5 { width: 5%; }
.wid-10 { width: 10%; }
.wid-15 { width: 15%; }
.wid-20 { width: 20%; }
.wid-25 { width: 25%; }
.wid-30 { width: 30%; }
.wid-35 { width: 35%; }
.wid-40 { width: 40%; }
.wid-45 { width: 45%; }
.wid-50 { width: 50%; }
.wid-55 { width: 55%; }
.wid-60 { width: 60%; }
.wid-65 { width: 65%; }
.wid-70 { width: 70%; }
.wid-75 { width: 75%; }
.wid-80 { width: 80%; }
.wid-85 { width: 85%; }
.wid-90 { width: 90%; }
.wid-95 { width: 95%; }
.wid-100 { width: 100%; }

@media #{$medium-and-down} {
  .m-wid-0 { width: 0%; }
  .m-wid-5 { width: 5%; }
  .m-wid-10 { width: 10%; }
  .m-wid-15 { width: 15%; }
  .m-wid-20 { width: 20%; }
  .m-wid-25 { width: 25%; }
  .m-wid-30 { width: 30%; }
  .m-wid-35 { width: 35%; }
  .m-wid-40 { width: 40%; }
  .m-wid-45 { width: 45%; }
  .m-wid-50 { width: 50%; }
  .m-wid-55 { width: 55%; }
  .m-wid-60 { width: 60%; }
  .m-wid-65 { width: 65%; }
  .m-wid-70 { width: 70%; }
  .m-wid-75 { width: 75%; }
  .m-wid-80 { width: 80%; }
  .m-wid-85 { width: 85%; }
  .m-wid-90 { width: 90%; }
  .m-wid-95 { width: 95%; }
  .m-wid-100 { width: 100%; }
}

@media #{$small-and-down} {
  .s-wid-0 { width: 0%; }
  .s-wid-5 { width: 5%; }
  .s-wid-10 { width: 10%; }
  .s-wid-15 { width: 15%; }
  .s-wid-20 { width: 20%; }
  .s-wid-25 { width: 25%; }
  .s-wid-30 { width: 30%; }
  .s-wid-35 { width: 35%; }
  .s-wid-40 { width: 40%; }
  .s-wid-45 { width: 45%; }
  .s-wid-50 { width: 50%; }
  .s-wid-55 { width: 55%; }
  .s-wid-60 { width: 60%; }
  .s-wid-65 { width: 65%; }
  .s-wid-70 { width: 70%; }
  .s-wid-75 { width: 75%; }
  .s-wid-80 { width: 80%; }
  .s-wid-85 { width: 85%; }
  .s-wid-90 { width: 90%; }
  .s-wid-95 { width: 95%; }
  .s-wid-100 { width: 100%; }
}
