<template lang="html">
  <section id="age">


    <Paralax id="paralax-age" src="/servicios/age.jpg" class="banner_top" layer="true">
      <div class="">
        <h2>AGE MANAGEMENT</h2>
      </div>
    </Paralax>

    <div class="row circulos v-pad-64">
      <div class="col l3 m6 s12">

        <a href="/masinformacion#pg">
          <div class="center-align">
            <div class="">
              <img src="~assets/viñetas/PG.png" alt="">
            </div>
            <div class="colorverde semibold fon-18">
              <p>Pro age management PG</p>
            </div>
            <div class="fon-16">
              <p>Mediante el análisis de tu genoma se puede lograr predecir el riesgo genético.</p>
            </div>
          </div>
        </a>


      </div>
      <div class="col l3 m6 s12">
        <a href="/masinformacion#ph">
          <div class="center-align">
            <div class="">
              <img src="~assets/viñetas/PH.png" alt="">
            </div>
            <div class="colorverde semibold fon-18">
              <p>Pro age management PH</p>
            </div>
            <div class="fon-16">
              <p>Una de las formas en que envejecemos es la declinación hormonal.</p>
            </div>
          </div>
        </a>

      </div>
      <div class="col l3 m6 s12">
        <a href="/masinformacion#ic">
          <div class="center-align">
            <div class="">
              <img src="~assets/viñetas/IC.png" alt="">
            </div>
            <div class="colorverde semibold fon-18">
              <p>Pro age management IC</p>
            </div>
            <div class="fon-16">
              <p>Desde el punto de vista biológico, el envejecimiento se asocia a la acumulación de daños moleculares y celulares.</p>
            </div>
          </div>
        </a>

      </div>
      <div class="col l3 m6 s12">
        <a href="/masinformacion#lt">
          <div class="center-align">
            <div class="">
              <img src="~assets/viñetas/LT.png" alt="">
            </div>
            <div class="colorverde semibold fon-18">
              <p>Pro age management LT</p>
            </div>
            <div class="fon-16">
              <p>Los telómeros son las estructuras protectoras de ADN los cuáles van sufriendo un acortamiento.</p>
            </div>
          </div>
        </a>

      </div>
      <div class="col l3 m6 s12">
        <a href="/masinformacion#desbalances">
          <div class="center-align">
            <div class="">
              <img src="~assets/viñetas/hormonas.png" alt="">
            </div>
            <div class="colorverde semibold fon-18">
              <p>Reemplazo hormonal</p>
            </div>
            <div class="fon-16">
              <p>Dosis personalizada, plan personalizado, seguro mediante hormonas bioidénticas.</p>
            </div>
          </div>
        </a>

      </div>
      <div class="col l3 m6 s12">
        <a href="/masinformacion#desbalances">
          <div class="center-align">
            <div class="">
              <img src="~assets/viñetas/pellets.png" alt="">
            </div>
            <div class="colorverde semibold fon-18">
              <p>Pellets</p>
            </div>
            <div class="fon-16">
              <p>Dosis personalizada usando hormonas bioidénticas.</p>
            </div>
          </div>
        </a>

      </div>
      <div class="col l3 m6 s12">
        <div class="center-align">
          <div class="">
            <img src="~assets/viñetas/suero.png" alt="">
          </div>
          <div class="colorverde semibold fon-18">
            <p>Terapia antioxidante</p>
          </div>
          <div class="fon-16">
            <p>Mejora fatiga crónica, Alzheimer, depresión, fibromialgia, etc.</p>
          </div>
        </div>
      </div>
      <div class="col l3 m6 s12">
        <div class="center-align">
          <div class="">
            <img src="~assets/viñetas/ozonoterapia.png" alt="">
          </div>
          <div class="colorverde semibold fon-18">
            <p>Ozonoterapia</p>
          </div>
          <div class="fon-16">
            <p>Mejora la circulación y oxigenación, favorece la desintoxicación, reduce colesterol y triglicéridos, mejora las defensas contra infecciones, cáncer y  alergias, ayuda al organismo a soportar otros tratamientos.</p>
          </div>
        </div>
      </div>
    </div>

    <hr>

    <div class="row btninfo v-pad-64">
        <div class="col l12 m12 s12 center-align">
          <div class="btn_cta">
            <a href="/masinformacion" class="colorblanco">Más información</a>
          </div>
        </div>
    </div>


  </section>
</template>

<script>
  import Paralax from '~/components/library/Paralax.vue'
  export default {
    components: {
      Paralax
    }
  }
</script>

<style lang="scss">
  @import "~assets/materialize_mkti";
    #age{
      .banner_top{
        background-image: url("~assets/img/agebanner.png");
      }
      .circulos{
        img{
          padding-top: 64px;
        }
      }
    }
</style>
