<template lang="html">
  <section id="clinica">

    <Paralax id="paralax-clinica" src="/clinicabannertop.png" class="banner_top">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/yz4TXrTV-hg?rel=0&amp;showinfo=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </Paralax>


    <div class="row v-pad-16">
      <div class="col l12 m12 s12 v-mar-8">
        <div class="auto center-align">
          <h3 class=" semibold colorverde">Clínica APORA</h3>
        </div>
      </div>
      <div class="col l1 m1 s1">
        <!-- vacio -->
      </div>
      <div class="col l10 m10 s10">
        <div class="colorgris v-pad-8 justify">
          <p class="fon-22">Existen diversas teorías de las causas del envejecimiento, todas ellas bajo mucha investigación y estudios científicos con muy buen sustento:</p>
          <ul>
            <li class="colorverde fon-22 v-pad-8"><img src="~assets/svg/lista.svg" alt="">Declinación hormonal</li>
            <li class="colorverde fon-22 v-pad-8"><img src="~assets/svg/lista.svg" alt="">Estrés oxidativo</li>
            <li class="colorverde fon-22 v-pad-8"><img src="~assets/svg/lista.svg" alt="">Inflamación celular</li>
            <li class="colorverde fon-22 v-pad-8"><img src="~assets/svg/lista.svg" alt="">Acortamiento telomérico</li>
          </ul>
          <p class="fon-22 v-pad-16">En APORA tenemos un producto para combatir cada una de las formas de envejecimiento descubiertas a la fecha mediante planes de tratamiento integrales y personalizados. Formando equipo con diferentes especialidades con el mismo fin: "Dar y prolongar el estado de bienestar de las personas".</p>
          <p class="fon-22 v-pad-16">Por otra parte tenemos los cambios fisícos a los que nadie nos resignamos, ya que para la mayoría nuestra apariencia cuenta mucho y generalmente es un reflejo de nuestro estado general de salud.</p>
          <p class="fon-22 v-pad-16">Es por esto que en APORA tenemos un área creada y equipada con diferentes servicios dirigidos a la prevención y retardo del envejecimiento, tanto intrínseco (celular, genético, molecular, etc) como extrínseco (piel, cabello, uñas, etc).</p>
        </div>
      </div>
      <div class="col l1 m1 s1">
        <!-- vacio -->
      </div>
    </div>

    <div class="row">
      <div class="col s12 m12 l12">
        <h3 class="mar-8 pad-16 fon-34 s-fon-26">Instalaciones</h3>
      </div>
      <div v-for="ins in Instalaciones" class="col s6 m4 l3">
        <div class="instalacion" :style="{
          'background-image': 'url('+ins.foto+')'
        }"></div>
      </div>
    </div>

    <div class="row">
      <div class="col l12 m12 s12">
        <div class="auto center-align v-pad-32 s-fon-18">
          <p class="colorgris bold">Traemos a México las novedades a nivel mundial en medicina estética antiage como:</p>
          <p class="colorverde semibold">Procedimientos estéticos </p>
          <p class="colorverde semibold">Productos para aplicación</p>
          <p class="colorverde semibold">Ultimas técnicas de aplicación</p>
          <p class="colorverde semibold">Pruebas de predicción</p>
        </div>
      </div>

      <hr/>

      <div class="row equipo">
        <div class="col l12 m12 s12">
          <div class="center-align bold fon-26 brandcolor">
              <p>NUESTRO EQUIPO</p>
          </div>
        </div>
      </div>

      <div class="col l4 m6 s12">
        <div class="center-align pad-32 m-pad-16">
          <img class="docs" src="~assets/equipo/gissela.png" alt="">
          <p class="bold brandcolor fon-22">Dra. Gissela Chávez Lizardi</p>
          <p class="h-pad-32 s-fon-16">Directora general de APORA, encargada de la atención en el área de Medicina Estética y Pro Age Management.</p>
        </div>
      </div>

      <div class="col l4 m6 s12">
        <div class="center-align pad-32 m-pad-16">
          <img class="docs" src="~assets/equipo/diego.png" alt="">
          <p class="bold brandcolor fon-22">Dr. Diego A. Lozano González</p>
          <p class="h-pad-32 s-fon-16">Encargado de la atención en el área de Medicina Estética.</p>
        </div>
      </div>

      <div class="col l4 m6 s12">
        <div class="center-align pad-32 m-pad-16">
          <img class="docs" src="~assets/equipo/Lizet.png" alt="">
          <p class="bold brandcolor fon-22">LN. Lizet Alvarado Méndez</p>
          <p class="h-pad-32 s-fon-16">Encargada de la atención en el área de Nutrición Personalizada.</p>
        </div>
      </div>

    </div>



    <div class="row respaldo v-pad-32">
      <div class="col l12 m12 s12">
        <div class="center-align">
          <p class="bold brandcolor fon-24">NOS RESPALDA</p>
          <p class="wid-65 m-wid-75 s-wid-90 auto fon-16">En Clínica Apora buscamos obtener las mejores actualizaciones y es así que hemos obtenido los siguientes reconocimientos.</p>
        </div>
        <CarouselCards  id="logos" numVisible="6" class="v-mar-32">
          <a class="carousel-item" @click.prevent.stop href="#"><img src="~assets/logos/01.png"></a>
          <a class="carousel-item" @click.prevent.stop href="#"><img src="~assets/logos/02.png"></a>
          <a class="carousel-item" @click.prevent.stop href="#"><img src="~assets/logos/03.png"></a>
          <a class="carousel-item" @click.prevent.stop href="#"><img src="~assets/logos/04.png"></a>
          <a class="carousel-item" @click.prevent.stop href="#"><img src="~assets/logos/05.png"></a>
          <a class="carousel-item" @click.prevent.stop href="#"><img src="~assets/logos/06.png"></a>
          <a class="carousel-item" @click.prevent.stop href="#"><img src="~assets/logos/07.png"></a>
          <a class="carousel-item" @click.prevent.stop href="#"><img src="~assets/logos/08.png"></a>
        </CarouselCards>
      </div>
    </div>

  </section>
</template>

<script>
  import Paralax from '~/components/library/Paralax.vue'
  import CarouselCards from '~/components/library/CarouselCards.vue'
  export default {
    data: function(){
      return {
        'Instalaciones': [
          {
            'foto': '/instalaciones/frente.jpg'
          },
          {
            'foto': '/instalaciones/farmacia.jpg'
          },
          {
            'foto': '/instalaciones/kids.jpg'
          },
          {
            'foto': '/instalaciones/juntas.jpg'
          },
          {
            'foto': '/instalaciones/plantas.jpg'
          },
          {
            'foto': '/instalaciones/sala.jpg'
          },
          {
            'foto': '/instalaciones/aparato.jpg'
          },
          {
            'foto': '/instalaciones/cubiculo.jpg'
          },
          {
            'foto': '/instalaciones/nutricion.jpg'
          },
          {
            'foto': '/instalaciones/oficina1.jpg'
          },
          {
            'foto': '/instalaciones/oficina2.jpg'
          },

          {
            'foto': '/instalaciones/sueros.jpg'
          },
        ]
      };
    },
    components: {
      Paralax,
      CarouselCards
    }
  }
</script>

<style lang="scss">
  @import "~assets/materialize_mkti";
    #clinica{
      .instalacion{
        @extend .transition, .z-depth-1;
        width: 100%;
        margin: 10px auto;
        height: 200px;
        border-radius: 5px;
        display: block;
        background-size: cover;
        background-position: center center;

        &:hover, &:active{
          @extend .z-depth-3;
          transform: scale(1.05);
        }

        @media #{$small-and-down}{
          height: 100px;
          margin: 5px auto;
        }
      }
      .banner_top{
        iframe{
          padding: 10px;
          padding-top: 26px;
          display: block;
          margin-left: auto;
          margin-right: auto;
          width: 100%;
          max-width: 800px;
          max-height: 100%;
          height: 475px;

          @media #{$small-and-down}{
            padding-top: 55%;
            height: 355px;
          }
        }
      }
      li{
        img{
          height: 19px;
          width: auto;
          margin-right: 8px;
          vertical-align: middle;
        }
      }

      .imgclinica img{
        border-radius: 8px;
        @extend .z-depth-3;
      }

      .docs{
        height: 130px;
        width: auto;
        border-radius: 50%;
        @extend .v-mar-0, .z-depth-3;
        margin-bottom: -15px;
      }

      .respaldo{
        background-color: #e5e5e5;
      }
      #logos{
        height: 130px !important;
        .carousel-item{
          padding: 20px;
        }
      }

    }
</style>
