<template lang="html">
  <section id="contacto">

    <Paralax id="paralax-contacto" src="/contacto.jpg" class="banner_top" layer="true">
      <div class="">
        <h2>CONTACTO</h2>
        <p>NOS GUSTARÍA ESTAR EN CONTACTO CONTIGO</p>
      </div>
    </Paralax>


    <div class="row infocontacto v-pad-32 s-pad-16 s-pad-2">

        <div class="col l6 m6 s12">
          <div class="wid-80 s-wid-100 auto">
            <div class="colorverde fon-30 semibold">
              <p>INFO DE CONTACTO</p>
            </div>
            <div class="colorgis fon-18">
              <p>Clínica APORA</p>
              <p>Av. Moctezuma 420, Col. Jardines del Sol, Zapopan, Jalisco,</p>
              <p>México. CP 45050</p>
              <p>recepcion@clinicaapora.mx</p>

              <p>Teléfono: (+52) 33 2471 8805</p>
              <p>Teléfono: (+52) 33 2471 8806</p>
              <p>Whatsapp: (+52) 1 331 095 8295</p>
            </div>
            <div class="mapa">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6997.171244976464!2d-103.41898997617841!3d20.649942227082114!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8428ac2f9126680d%3A0xcf94c110e0d4f49b!2sAv+Moctezuma+420%2C+Jardines+del+Sol%2C+45050+Zapopan%2C+Jal.!5e0!3m2!1ses!2smx!4v1551814430563" width="100%" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>            </div>
          </div>
        </div>


        <div class="col l6 m6 s12">
          <div class="wid-80 s-wid-100 auto sv-pad-32 s-pad-2">
            <div class="colorverde fon-30 s-fon-26 semibold">
              <p>HORARIOS DE ATENCIÓN</p>
            </div>
            <div class="colorgris fon-18">
              <p>Lun-Vie: 9am a 2pm y de 4pm a 7pm </p>
              <p>Sábados: 10am a 2pm</p>
            </div>

            <TheForm view="cita"/>

          </div>
        </div>

    </div>

  </section>
</template>

<script>
  import TheForm from '~/components/TheForm.vue'
  import Paralax from '~/components/library/Paralax.vue'
  export default{

    components: {
      Paralax,
      TheForm
    }
  }
</script>

<style lang="scss">
  @import "~assets/materialize_mkti";

   #contacto{
     #paralax-contacto{
       background-size: auto 220% !important;
     }
   }
</style>
