<template lang="html">
  <section id="dermofarmacia">

    <Paralax id="paralax-dermo" src="/servicios/dermo.jpg" class="banner_top" layer="true">
      <div class="">
        <h2>DERMOFARMACIA</h2>
        <p class="fon-18">ATIENDE LAS NECESIDADES DE TU PIEL</p>
      </div>
    </Paralax>


    <div class="row dermoinfo1 v-pad-32 s-pad-16">
      <div class="col l1 m1 s0">
        <!-- vacio -->
      </div>
      <div class="col l10 m10 s12">
        <div class="colorgris fon-22 s-fon-16 center-align">
          <p class="justify">Cremas personalizadas en base a las necesidades específicas de tu piel. Creamos una crema para cada persona, por que ninguna piel es igual ni tiene los mismos problemas o necesidades.</p>
        </div>
      </div>
      <div class="col l1 m1 s0">
        <!-- vacio -->
      </div>
    </div>

    <div class="row circulos v-pad-32 s-pad-16">
      <div class="col l12 m12 s12">
        <div class="center-align colorgris semibold fon-30">
          <p>CONOCE EL PROCESO</p>
        </div>
      </div>

      <div class="col l3 m6 s12">
        <div class="center-align pad-16 s-pad-8">
          <div class="">
            <img src="~assets/viñetas/cuestionario.png" alt="">
          </div>
          <div class="colorverde semibold fon-18">
            <p>Formulario</p>
          </div>
          <div class="colorgris fon-16 center-align">
            <p>El paciente llena un formulario con preguntas dirigidas a la percepción y síntomas relacionados con su piel y estilo de vida.</p>
          </div>
        </div>
      </div>

      <div class="col l3 m6 s12">
        <div class="center-align pad-16 s-pad-8">
          <div class="">
            <img src="~assets/viñetas/analizador.png" alt="">
          </div>
          <div class="colorverde semibold fon-18">
            <p>Análisis facial</p>
          </div>
          <div class="colorgris fon-16 center-align">
            <p>Se realiza un análisis dermatológico por medio de un equipo de imagen microscópica, el cuál hace tomas fotográficas para el expediente de seguimiento y nos ayuda a definir el estado general de la piel.</p>
          </div>
        </div>
      </div>

      <div class="col l3 m6 s12">
        <div class="center-align pad-16 s-pad-8">
          <div class="">
            <img src="~assets/viñetas/activos.png" alt="">
          </div>
          <div class="colorverde semibold fon-18">
            <p>Elección de activos</p>
          </div>
          <div class="colorgris fon-16 center-align">
            <p>El especialista conjunta los datos para diseñar una formula personalizada con ingredientes activos de la mejor calidad, los cuáles son añadidos a nuestra crema base enriquecidas con péptidos biomimeticos y omega 3.</p>
          </div>
        </div>
      </div>

      <div class="col l3 m6 s12">
        <div class="center-align pad-16 s-pad-8">
          <div class="wid-100 pad-8">
            <img class="res" src="~assets/viñetas/cremafinal.png" alt="">
          </div>
          <div class="colorverde semibold fon-18">
            <p>Incorporar activos</p>
          </div>
          <div class="colorgris fon-16 center-align">
            <p>Elaboración de crema libre de conservadores y alérgenos en cuestión de 5 minutos, para que puedas llevártela inmediatamente a tu casa e iniciar con su uso.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row formula v-pad-32 s-pad-16">
      <div class="col l12 m12 s12 v-pad-16">
        <div class="semibold fon-38 s-fon-26 colorverde center-align">
          <p>CREA TU FÓRMULA</p>
        </div>
      </div>
      <div class="col l12 m12 s12">
        <div class="wid-100 center-align">
          <img class="res" src="~assets/img/formula.png" alt="">
        </div>
      </div>
      <div class="col l12 m12 s12 v-pad-32">
        <div class="center-align fon-34 s-fon-20 colorgris auto wid-70 s-wid-95 v-mar-16">
          <p>Más que solo un cuidado de la piel, un plan de tratamiento <span class="colorverde semibold">únicamente para ti.</span></p>
        </div>
      </div>
    </div>

    <div class="row btninfo v-pad-64">
        <div class="col l12 m12 s12 center-align">
          <div class=" btn_cta">
            <a href="/contacto" class="colorblanco">SOLICITA UNA CITA</a>
          </div>
        </div>
    </div>

  </section>
</template>

<script>
  import Paralax from '~/components/library/Paralax.vue'
  export default {
    components: {
      Paralax
    }
  }
</script>

<style lang="scss">
  @import "~assets/materialize_mkti";
    #dermofarmacia{
      .banner_top{
        background-image: url("~assets/img/dermobanner.png");
      }
      .circulos{
        img{
          // padding-top: 0px;
        }
      }
    }
</style>
