<template lang="html">
  <section id="apora">

    <Carousel id="features-crousel" wait="5000" transition="200">

      <div class="fixed">
        <div class="black-layer"></div>
        <p>Los tratamientos más exclusivos y avanzados a nivel mundial, ahora en Guadalajara.</p>
      </div>
      <div class="carousel-item bg1">
      </div>
      <div class="carousel-item bg2">
        <div class="titulo">Medicina Estética</div>
      </div>
      <div class="carousel-item bg3">
        <div class="titulo">Nutrición Personalizada</div>
      </div>
      <div class="carousel-item bg4">
        <div class="titulo">Age management</div>
      </div>
      <div class="carousel-item bg5">
        <div class="titulo">Wellness y Aparatología</div>
      </div>
      <div class="carousel-item bg6">
        <div class="titulo">Dermofarmacia</div>
      </div>
    </Carousel>

    <div class="row nace">
      <div class="col l1 m1 s0">
        <!-- vacio -->
      </div>
      <div class="col l10 m10 s12">
        <div class="nacecont auto center-align v-pad-64 wid-90 m-wid-95 s-wid-100">
          <p class="colorgris fon-22">Con el objetivo principal de dar a nuestros pacientes un manejo con enfoque funcional e integrativo y generar en ellos un estado de bienestar general:</p>
          <p class="colorverde fon-40 lightitlaic">Nace APORA Wellness pro age management</p>
          <p class="colorgris fon-22">Contamos con un área específica para contrarrestar los efectos que el paso del tiempo va causando en nuestro organismo.</p>
        </div>
      </div>
      <div class="col l1 m1 s0">

      </div>
    </div>

    <div class="row servicios auto center-align v-pad-64 sv-pad-32 wid-90 m-wid-100">
      <div class="col l12 m12 s12">
        <div class="auto center-align brandcolor fon-30 bold">
          <p>SERVICIOS</p>
        </div>
      </div>
      <div class="col l3 m6 s12">
        <div class="h-pad-32">
          <img src="~assets/svg/medicinaestetica2.svg" alt="">
          <p class="colorverde semibold fon-20">Medicina Estética</p>
          <p class="colorgris fon-14 s-fon-16">Los mejores tratamientos para contrarrestar los efectos causados por el paso de los años.</p>
          <a class="minicta" href="/medicina">Ver detalles</a>
        </div>
      </div>
      <div class="col l3 m6 s12">
        <div class="h-pad-32">
          <img src="~assets/svg/agemanagment.svg" alt="">
          <p class="colorverde semibold fon-20">Age Management</p>
          <p class="colorgris fon-14 s-fon-16">Prevención y retardo del envejecimiento y sus implicaciones en daños a la salud.</p>
          <a class="minicta" href="/age">Ver detalles</a>
        </div>
      </div>
      <div class="col l3 m6 s12">
        <div class="h-pad-32">
          <img src="~assets/svg/nutricionwellness.svg" alt="">
          <p class="colorverde semibold fon-20">Wellness y Aparatología</p>
          <p class="colorgris fon-14 s-fon-16">Planes personalizados Nutrigenética y nutrigenómica aparatología  médico estética, tratamientos faciales y corporales.</p>
          <a class="minicta" href="/wellness">Ver detalles</a>
        </div>
      </div>
      <div class="col l3 m6 s12">
        <div class="h-pad-32">
          <img src="~assets/svg/dermofarmacia.svg" alt="">
          <p class="colorverde semibold fon-20">Dermofarmacia</p>
          <p class="colorgris fon-14 s-fon-16">Una piel - Una formula. Cremas personalizadas en base a tu piel y sus necesidades.</p>
          <a class="minicta" href="/dermofarmacia">Ver detalles</a>
        </div>
      </div>
    </div>

    <div class="row banner_uno v-pad-128 mv-pad-64">
      <div class="col l6 m12 s12">
        <div class="h-pad-64">
          <p class="colorgris justify">Tenemos alianzas con diversos especialistas en cirugía plástica, general, bariátrica, entre otras, con los que trabajamos mano a mano con un solo objetivo: <span class="colorverde bold">Dar atención de calidad a nuestros pacientes.</span></p>
        </div>
      </div>
      <div class="col l6 m12 s12">
        <div class="">

        </div>
      </div>
    </div>

    <div class="row sintomas">
      <div class="col l12 m12 s12">

      </div>
    </div>

    <div class="row agendacita">
      <div class="">
        <!-- texto al centro + img -->
      </div>
    </div>

    <div class="row publicaciones">
      <div class="col l4 m4 s4">
        <div class="">
          <img src="" alt="">
          <p></p>
          <p></p>
        </div>
      </div>
    </div>

    <TheQuestions/>

    <Paralax id="paralax" src="/agenda.png" position="66%">
      <div class="row">
        <div class="col s12 m12 l12 center-align">
          AGENDA TU CITA CON NOSOTROS
        </div>
      </div>
    </Paralax>

    <div class="row contactoform v-mar-32 sv-mar-0 s-pad-8">
      <div class="col l12 m12 s12">
        <h2 class="brandcolor fon-28 auto wid-90 s-wid-100 v-mar-16">CONTACTO</h2>
      </div>
      <div class="col l6 m6 s12">
        <div class="auto wid-75 m-wid-100 s-wid-100">
          <TheForm/>
        </div>

      </div>
      <div class="data col l6 m6 s12">
        <div class="v-pad-64 sv-pad-16 auto wid-75 m-wid-85 s-wid-100">
          <div class="bold gray fon-32 s-fon-26 v-pad-1 center-align">
            <img src="~assets/phone.png" alt="">
            (33) 2471 8805
          </div>
          <div class="bold gray fon-32 s-fon-26 v-pad-1 center-align">
            <img src="~assets/phone.png" alt="">
            (33) 2471 8806
          </div>
          <div class="bold gray fon-32 s-fon-26 v-pad-1 center-align">
            <img src="~assets/whats.png" alt="">
            331 095 8295
          </div>
          <hr>
          <div class="center-align fon-18 s-fon-18">
            <img class="mini" src="~assets/map.png" alt="">
            Av. Moctezuma 420, Col. Jardines del Sol, Zapopan, Jalisco. CP 45050. <br>
            recepcion@clinicaapora.mx
          </div>
        </div>
      </div>
    </div>


  </section>
</template>

<script>
import TheForm from '~/components/TheForm.vue'
import TheQuestions from '~/components/TheQuestions.vue'
import Carousel from '~/components/library/Carousel.vue'
import Paralax from '~/components/library/Paralax.vue'

export default{
  components: {
    Paralax,
    Carousel,
    TheQuestions,
    TheForm
  }
}
</script>

<style lang="scss">
 @import "~assets/materialize_mkti";
 #paralax{
   padding-top: 170px;
   padding-bottom: 170px;
   background-position: 66% 0%;
   .col{
     font-size: 1.7rem;
     color: white;
   }
 }
 .contactoform .data{
   img{
     vertical-align: middle;
     height: 50px;
     width: auto;
     display: inline-block;

     &.mini{
       height: 30px;
     }
   }
 }
  #apora{
    #features-crousel{
      .black-layer{
        width: 100%;
        height: 100%;
        display: inline-block;
        position: absolute;
        top: 0px;
        left: 0px;
        background-color: rgba(0,0,0,0.3);
      }
      p{
        text-transform: uppercase !important;
        font-size: 1.5rem;
        color: white;
        text-align: left;
        position: absolute;
        top: 32%;
        left: 4.5%;
        width: 70%;
        text-shadow: 0 0 9px #000000;
        @media #{$medium-and-down}{
          top: auto;
          left: auto;
          text-align: center;
          display: block;
          width: 100%;
          padding: 20px;
          font-size: 1.6rem;
          margin-top: 25%;
          position: relative;
        }
        @media #{$small-and-down}{
          margin-top: 40%;
        }
      }
      .bg1{
        background-image: url("~assets/carrusel/inicio.jpg");
        background-position: center 40%;
        background-size: cover;
      }
      .bg2{
        background-image: url("~assets/carrusel/estetica.jpg");
        background-position: center 82%;
        background-size: cover;
      }
      .bg3{
        background-image: url("~assets/carrusel/nutricion.jpg");
        background-position: center center;
        background-size: cover;
      }
      .bg4{
        background-image: url("~assets/carrusel/age.jpg");
        background-position: center 93%;
        background-size: cover;
      }
      .bg5{
        background-image: url("~assets/carrusel/wellness.jpg");
        background-position: center center;
        background-size: cover;
      }
      .bg6{
        background-image: url("~assets/carrusel/dermo.jpg");
        background-position: center 25%;
        background-size: cover;
      }
      .carousel-item{
        .titulo{
          position: absolute;
          display: block;
          right: 0;
          bottom: 0;
          font-size: 1.8rem;
          color: white;
          padding: 10px 30px;
          border-radius: 50px 0 0 0;
          background-color: #17aaaa;
          border-top: 2px solid white;
          border-left: 2px solid white;
        }
        @media #{$small-and-down}{
          & .titulo{
            font-size: 1.5rem;
            padding: 8px 20px;
          }
        }
      }

      &, .carousel-item, .carousel-fixed-item{
        height: 65vh !important;
        @media #{$small-and-down}{
          height: 75vh !important;
        }
      }
      .fixed{
        z-index: 100000;
        position: absolute;
        display: block;
        top: 0px;
        left: 0px;
        height: 100%;
        width: 100%;
      }

    }


    .nace{
      .nacecont{
        border-bottom: 2px solid #40A4A4;
      }
    }
    .servicios{
      .col > div{
        @extend .mv-mar-16;
      }
      .h-pad-32 img{
        height: 60px;
        width: auto;
        @extend .sv-mar-16;
      }
      .colorgris{
        min-height: 83px;
      }
      img{

      }
      .minicta{
        @media #{$small-and-down}{
          margin-bottom: 20px;
        }
      }
    }

    .banner_uno{
      div{ padding: 0px; }
      p{
        margin-left: 10%;
        font-size: 1.1rem;
        @media #{$medium-and-down}{
          padding: 16px;
          text-align: center;
          margin-left: 0%;
          text-shadow: 0 0 4px #FFFFFF;
          color: black !important;
        }
        @media #{$small-and-down}{
          text-align: center;
          font-size: 1.3rem;
        }
      }

      background-image: url("~assets/img/bgindex1.png");
      width: 100%;
      height: auto;
      background-position: right center;
      background-size: cover;
      background-repeat: no-repeat;
    }

  }
</style>
