<template lang="html">
  <section id="masinformacion">


    <Paralax id="paralax-info" src="/dna.png" class="banner_top" layer="false">
      <div class="">
        <h2>MÁS INFORMACIÓN</h2>
        <p>APORA WELLNESS PRO AGE MANAGEMENT</p>
      </div>
    </Paralax>

    <div class="row v-pad-8">
      <div class="col l12 m12 s12">
        <div class="semibold colorgris center-align fon-30">
          <p>ENTIENDE MEJOR NUESTROS SERVICIOS</p>
        </div>
      </div>
    </div>

    <div id="ag" class="row que_es v-pad-16">
      <div class="col l1 m1 s0">
        <!-- vacio -->
      </div>
      <div class="col l10 m12 s12">
        <div class="s-pad-16">
          <div class="colorverde semibold fon-32">
            <p>¿Qué es el Age Management?</p>
          </div>
          <div class="colorgris fon-18">
            <p class="justify">Un enfoque médico profundo, significativo y comprobado que establece el estándar para la atención médica del siglo XXI en todas las disciplinas médicas. Es una especialidad progresiva, preventiva y proactiva centrada en la salud, no en la enfermedad.</p>
            <a v-show=" ! age_management " @click.prevent.stop="age_management = true " href="#" class="mini_cta">Leer más...</a>
            <div v-show=" age_management " class="">
              <p class="justify">Ofrece resultados medibles y que cambian la vida de los pacientes, optimizando la salud y retrasando o eliminando el envejecimiento degenerativo, utilizando medicina de precisión, tecnologías innovadoras, modalidades basadas en la evidencia / personalizadas y ciencia sólida.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col l1 m1 s0">
        <!-- vacio -->
      </div>
      <div v-show=" age_management " class="row">
        <div class="col l2 m2 s0">
          <!-- vacio -->
        </div>
        <div class="col l4 m5 s12">
          <div class="brandcolor fon-22 center-align v-pad-32">
            <img class="quote" src="~assets/quote.png" alt="">
            <p >La medicina tiene que pasar de ser reactiva y genérica a ser predictiva y personalizada.
            <br><span class="fon-18">- Peter Diamandis</span></p>

          </div>
        </div>
        <div class="col l4 m5 s12">
          <div class="center-align">
            <img class="res wid-90 auto" src="~assets/img/yoga.png" alt="">
          </div>
        </div>
        <div class="col l2 m2 s0">
          <!-- vacio -->
        </div>
      </div>

    </div>

    <div v-show=" age_management " class="row versus v-pad-16">
      <div class="col l12 m12 s12">
        <div class="center-align colorverde fon-30 semibold">
          <p>medicina convencional <span style="font-size: 2.4rem; color: black; font-weight: bold;">VS</span> pro age management</p>
        </div>
      </div>

      <div class="col l6 m6 s6">
        <div class="right-align colorgris fon-20 s-fon-14">
          <p>Trata enfermedades y sus complicaciones •</p>
          <p>Reacciona y diagnostica ante enfermedades ya instaladas •</p>
          <p>Plan de tratamiento estandarizado •</p>
          <p>Enfocado en prolongar la vida del paciente •</p>
          <p>Trata síntomas •</p>
          <p>Un especialista para cada enfermedad •</p>
          <p>Dirigido únicamente por el médico •</p>
        </div>
      </div>
      <div class="partir col l6 m6 s6">
        <div class="left-align  colorgris fon-20 s-fon-14">
          <p>• Trata personas sanas que desean prevenir enfermedades</p>
          <p>• Predice probables enfermedades y las previene</p>
          <p>• Plan de tratamiento personalizado</p>
          <p>• Enfocada en dar calidad de vida y alargar su vida útil</p>
          <p>• Busca la raíz del problema</p>
          <p>• Trata al paciente de forma funcional e integrativa</p>
          <p>• El paciente es quien toma el control de su salud guiado por el médico</p>
        </div>
      </div>
    </div>

    <hr>
     <div id="pg" class="auto wid-80 m-wid-90 s-wid-95 v-pad-32 s-pad-16">
       <p class="semibold colorverde fon-32" >Pro Age Management PG</p>
       <div class="colorgris fon-18">
         <p class="justify">Mediante el análisis de tu genoma se puede lograr predecir el riesgo genético a padecer alguna de las 28 enfermedades más comunes y con mayor costo social.</p>
         <a v-show=" ! age_management_pg " @click.prevent.stop="age_management_pg = true " href="#" class="mini_cta">Leer más...</a>
         <div v-show=" age_management_pg " class="">

          <div class="row">
            <div class="col l6 m6 s6">
              <div class="right-align semibold fon-18 s-fon-14">
                <p>Diabetes</p>
                <p>Obesidad</p>
                <p>Hipertensión</p>
                <p>Osteoporosis</p>
                <p>Artritis reumatoide</p>
                <p>Hipercolesterolemia</p>
                <p>Cáncer de próstata y gástrico</p>
              </div>
            </div>
            <div class="col l6 m6 s6">
              <div class="left-align semibold font-18 s-fon-14">
                <p>Lupus</p>
                <p>Migraña</p>
                <p>Psoriasis</p>
                <p>Alzheimer</p>
                <p>Esclerosis múltiple</p>
                <p>Cáncer de mama, colon, pulmón, piel, vejiga</p>
                <p>Otras...</p>
              </div>
            </div>

            <div class="col l12 m12 s12">
              <div class="center-align">
                <p class="justify">No solo es saber a que estamos predispuestos, si no evitar que estas enfermedades se manifiesten, y en el caso de las personas que ya las presentan, el objetivo será evitar las futuras complicaciones mediante un plan completamente personalizado</p>
              </div>
            </div>
          </div>

         </div>
       </div>
       <div v-show=" age_management_pg " class="col l12 m12 s12">
         <div class="colorgris v-mar-16 wid-40 s-wid-80 fon-18 brandcolor auto center-align">
           <img class="quote" src="~assets/quote.png" alt="">
           <p class=" brandcolor">El envejecimiento no es sólo cuestión de genes sino de cómo se leen o se expresan los genes.<br>- Dr. Francisco José Iborra</p>
         </div>
       </div>
     </div>

     <hr>
    <div id="ph" class="row ageph">
      <div class="auto wid-80 m-wid-90 s-wid-95 v-pad-32 s-pad-16">
        <p class="semibold colorverde fon-32" >Pro Age Management PH</p>
        <div class="colorgris fon-18">
          <p class="justify">Una de las formas en que envejecemos es la declinación hormonal, esto se debe a que nuestro organismo esta programado para disminuir la producción de diferentes hormonas a partir de los 30 años, las cuales son responsables de llevar a cabo la mayoría de los procesos más importantes y que permiten la regeneración y buen funcionamiento de nuestros órganos y sistemas.</p>
          <a v-show=" ! age_management_ph " @click.prevent.stop="age_management_ph = true " href="#" class="mini_cta">Leer más...</a>
          <div v-show=" age_management_ph " class="">
            <p class="justify">Las formas más precisas de medir y cuantificar las hormonas son en saliva y orina. Es así como medimos algunas de las principales hormonas: Estrógenos (E1, E2 y E3), Progesterona, Testosterona, DHEA y Cortisol.</p>
          </div>
        </div>
      </div>
    </div>

    <div id="desbalances" class="row desbalance_info">
      <hr>
       <div class="center-align colorgris fon-32 semibold v-pad-8">
         <p>Desbalances hormonales más comunes<br>(Signos y Sintomas) </p>
       </div>
       <hr>

      <div class="auto wid-80 m-wid-90 s-wid-95 v-pad-32 s-pad-16">
          <div class="colorverde semibold fon-32">
            <p>Climaterio y Menopausia</p>
          </div>
          <div class="colorgis fon-18">
            <p class="justify">Aunque se usan de manera indistinta las palabras menopausia y climaterio, no significan lo mismo. La primera se refiere a la desaparición definitiva de la menstruación por un periodo aproximado de 12 meses, producto del cese de la función ovárica. </p>

            <a v-show=" ! desbalances " @click.prevent.stop="desbalances = true " href="#" class="mini_cta">Leer más...</a>

            <div v-show=" desbalances " class="">
              <p class="justify">El climaterio es un proceso fisiológico que ocurre en las mujeres, se manifiesta de forma evidente en el aparato urogenital con pérdida de la función reproductiva. A su vez, afecta numerosos procesos en diferentes órganos y sistemas. Cursa con sintomatología relacionada con la disfunción ovárica asociado a disminución en la producción de estrógenos.</p>

              <h2 class="sintomas">Signos y Síntomas</h2>
              <ul class="sintomas">
                <li>Ondas de calor (bochornos, sofocos)</li>
                <li>Sudores nocturnos</li>
                <li>Trastornos del sueño </li>
                <li>Menstruación irregular</li>
                <li>Depresión</li>
                <li>Ansiedad</li>
                <li>Alteraciones de humor </li>
                <li>Sequedad vaginal</li>
                <li>Relaciones sexuales poco placenteras</li>
                <li>Reducción de la libido </li>
                <li>Pérdida de la memoria o mala memoria</li>
                <li>Dificultad para concentrarse</li>
                <li>Dolores musculares y/o articulares</li>
                <li>Piel y cabello seco</li>
                <li>Pérdida de cabello</li>
                <li>Uñas débiles (delgadas, quebradizas)</li>
                <li>Aumento de peso</li>
                <li>Dolor y/o sensación de opresión en el pecho</li>
                <li>Dolor de cabeza</li>
                <li>Palpitaciones</li>
                <li>Aparición o engrosamiento del vello facial</li>
                <li>Osteoporosis (huesos débiles)</li>
                <li>Pérdida del equilibrio (mareos)</li>
                <li>Sensación de vientre "hinchado"</li>
                <li>Sensación de cansancio</li>
              </ul>
            </div>
          </div>

      </div>
    </div>

    <hr>
    <div id="andro" class="row andropausia">
      <div class="auto wid-80 m-wid-90 s-wid-95 v-pad-32 s-pad-16">
            <div class="colorverde semibold fon-32">
              <p>Andropausia</p>
            </div>

            <p class="wnd-align-justify justify"><font class="wnd-font-size-110">La andropausia es la disminución en la producción de la testosterona
            masculina y es frecuente en hombres entre fines de los 40 y 55 años de edad. La
            testosterona es la hormona que se produce en los testículos y glándulas
            suprarrenales y cumple funciones similares a las que cumplen los estrógenos en
            la mujer.</font></p>

            <a v-show=" ! andro " @click.prevent.stop="andro = true " href="#" class="mini_cta">Leer más...</a>

            <div v-show=" andro "class="">
              <p class="wnd-align-justify justify"><font class="wnd-font-size-110">A partir de los 30 años, los niveles de testosterona comienzan a disminuir
              un 15%, luego, a los 45 años se empiezan a advertir los primeros síntomas de la
              andropausia, y llegado a los 50 años, los bajos niveles de testosterona
              aparecen en el 50% de los hombres. A los 60 años, se estima que más de la mitad
              de los hombres sufren alteraciones por la andropausia, y para los 70 años, el
              70% de los adultos tienen por completo bajos niveles de testosterona.</font></p>

              <p class="wnd-align-justify justify"><font class="wnd-font-size-110">Sus causas se relacionan principalmente con el envejecimiento, pero
              influyen otros factores que desencadenan la andropausia como el estrés, consumo
              de alcohol, ciertos medicamentos, obesidad, infecciones y la elevación del
              nivel de SHBG o "globulina fijadora de hormonas sexuales".</font></p>

              <p class="wnd-align-justify justify"><font class="wnd-font-size-110">Además, la testosterona ayuda a formar proteínas y es el principal
              responsable de la reproducción sexual del hombre. El hombre presenta diferentes
              síntomas durante la andropausia y son fáciles de reconocer.</font></p>

            </div>

            <div v-show=" andro " class="">
              <h2 class="sintomas">Signos y Síntomas</h2>
              <ul class="sintomas">
                <li>Cambios de actitud y estado de ánimo (depresión, mayor sensibilidad)</li>
                <li>Fatiga (sensación de cansancio)</li>
                <li>Pérdida de energía</li>
                <li>Disminución de la líbido (deseo sexual)</li>
                <li>Pérdida de erecciones matutinas</li>
                <li>Dificultad para lograr y/o mantener una erección</li>
                <li>Aumento de peso (a nivel abdominal principalmente)</li>
                <li>Irritabilidad, depresión</li>
                <li>Nerviosismo, ansiedad</li>
                <li>Reducción de fuerza y volumen de la eyaculación</li>
                <li>Deterioro óseo y muscular</li>
                <li>Sensación de calor al rostro</li>
                <li>Problemas circulatorios</li>
                <li>Sudoración</li>
                <li>Dolor de cabeza</li>
                <li>Alteraciones del sueño</li>
              </ul>
            </div>
      </div>
    </div>

    <hr>
    <div id="somato" class="row somato">
      <div class="auto wid-80 m-wid-90 s-wid-95 v-pad-32 s-pad-16">
            <div class="colorverde semibold fon-32">
              <p>Somatopausia</p>
            </div>

            <p class="justify">Al igual que la menopausia y la andropausia, la somatopausia se refiere a un período de transición (más común entre hombres y mujeres mayores) caracterizado por una disminución o pausa en la producción de hormonas importantes, específicamente hormonas del crecimiento.</p>

            <a v-show=" ! somato " @click.prevent.stop="somato = true " href="#" class="mini_cta">Leer más...</a>

            <div v-show=" somato "class="">
              <p class="justify">Las hormonas de crecimiento no solo son importantes en la vida temprana para el desarrollo de funciones corporales sanas, sino que también son clave en la regulación de esas funciones corporales a lo largo de la vida. Una disminución en la producción de la hormona del crecimiento puede afectar todo el cuerpo de una manera significativa y está vinculada a una amplia gama de síntomas e incluso una menor esperanza de vida.</p>
            </div>

            <div v-show=" somato " class="">
              <h2 class="sintomas">Signos y Síntomas</h2>
              <ul class="sintomas">
                <li>Disminución de fuerza muscular</li>
                <li>Pérdida de masa muscular</li>
                <li>Falta de tono muscular</li>
                <li>Disminución del rendimiento físico</li>
                <li>Dificultad para aumentar de peso</li>
                <li>Aparición o aumento de celulitis</li>
                <li>Falta de energía y vitalidad</li>
                <li>Bajo rendimiento laboral o escolar</li>
                <li>Falta de bienestar positivo</li>
                <li>Inestabilidad emocional</li>
                <li>Aumento de la ansiedad</li>
                <li>Falta de entusiasmo</li>
                <li>Estado de ánimo depresivo</li>
                <li>Mala memoria, cognición</li>
                <li>Flacidez de la piel</li>
                <li>Problemas de la piel</li>
                <li>Aparición de Arrugas y/o líneas Finas</li>
                <li>Adelgazamiento del cabello</li>
                <li>Cabello canoso</li>
                <li>Presión arterial alta / baja</li>
                <li>Disminución del colesterol HDL</li>
                <li>Aumento del colesterol LDL</li>
                <li>Mala salud general</li>
                <li>Curación lenta de heridas</li>
                <li>Problemas en las articulaciones</li>
                <li>Problemas del sistema inmune</li>
                <li>Líbido disminuído</li>
                <li>Disminución en el rendimiento sexual</li>
                <li>Aumento de la micción nocturna</li>
                <li>Disminución de la agudeza visual</li>
                <li>Dificultades para dormir</li>
              </ul>
            </div>
      </div>
    </div>

    <hr>
    <div id="adrenal" class="row adrenal">
        <div class="auto wid-80 m-wid-90 s-wid-95 v-pad-32 s-pad-16">
          <div class="colorverde semibold fon-32">
            <p>Fatiga adrenal</p>
          </div>

          <p class="justify">En un mundo en el que se tiende a trabajar de más, a ir contra reloj, a dejarse llevar por el estrés, y a no descansar lo suficiente, la incidencia del cansancio suprarrenal se está convirtiendo en una epidemia de proporciones masivas.</p>

          <a v-show=" ! adrenal " @click.prevent.stop="adrenal = true " href="#" class="mini_cta">Leer más...</a>

          <div v-show=" adrenal "class="">
            <p class="wnd-align-justify justify"><font class="wnd-font-size-110">Conocido también como síndrome de fatiga adrenal, hipoadrenia
            no-addisoniana, hipoadrenia subclínica, hipoadrenalismo y neurastenia, afecta a
            millones de personas en el mundo de forma distinta y por numerosos motivos. </font></p><p class="wnd-align-justify justify"><font class="wnd-font-size-110">El cansancio suprarrenal es un estado previo al colapso o agotamiento total
            de las glándulas suprarrenales. Las suprarrenales no funcionan en su nivel
            adecuado, aunque todavía no muestran signos de haber llegado a su fase final.
            Por esta misma razón, su diagnóstico no es sencillo, ya que el paciente que
            sufre de cansancio suprarrenal perfectamente puede aparentar estar sano, no
            mostrar síntoma obvio de padecer una enfermedad física, pero sentirse enfermo.</font></p><p class="wnd-align-justify justify"><font class="wnd-font-size-110">De todos es sabido que el estrés es un problema en nuestra sociedad. El más
            común es la presión en el trabajo, la muerte de un ser querido, una mudanza...
            Pero también existen otras presiones que afectan: el estrés físico, el estrés
            químico, el estrés térmico, el estrés emocional y mental, la alimentación, las
            alergias...</font></p><p class="wnd-align-justify"><font class="wnd-font-size-110">

              <b>Existen cuatro categorías importantes de estrés:</b></font></p><p class="wnd-align-justify"><font class="wnd-font-size-110"><b>1. El estrés físico: provocado por trabajar en
            exceso, la falta de sueño, un entrenamiento físico en demasía, etc.</b></font></p><p class="wnd-align-justify justify"><font class="wnd-font-size-110"><b>2. El estrés químico: causado por la polución
            medioambiental, las dietas altas en carbohidratos refinados, las alergias a los
            alimentos y aditivos, un desequilibrio de las glándulas endocrinas, etc.</b></font></p><p class="wnd-align-justify"><font class="wnd-font-size-110"><b>3. El estrés térmico: ocurre cuando el organismo sufre
            temperaturas demasiado altas o demasiado bajas.</b></font></p>
            <p class="wnd-align-justify justify"><font class="wnd-font-size-110"><b>4. El estrés emocional y mental. </b></font>
            </p>

            <p class="wnd-align-justify justify"><font class="wnd-font-size-110 justify">La fatiga adrenal tiene lugar cuando la cantidad de estrés supera la
            capacidad del cuerpo para compensar y recuperarse del estrés. </font></p><p class="wnd-align-justify justify"><font class="wnd-font-size-110">Cuando el estrés continúa durante períodos prolongados de tiempo, las
            glándulas suprarrenales utilizan las reservas de energía y las hormonas del
            cuerpo y pueden disminuir o aumentar de tamaño. Una sobreproducción de hormonas
            suprarrenales causadas por un estrés prolongado, pueden debilitar el sistema
            inmunológico y disminuir nuestras defensas frente a agentes externos.</font></p>

            <div class="colorgris v-mar-64 sv-mar-32 bold wid-40 s-wid-80 fon-18 brandcolor auto center-align">
              <img class="quote" src="~assets/quote.png" alt="">
              <p class=" brandcolor">La razón por la que no podemos combatir el estrés es porque
                NO EXISTE, pero genera el 90 por ciento de las visitas al médico.<br>- F. Javier González</p>
            </div>

            <h2 class="sintomas">Signos y Síntomas</h2>
            <ul class="sintomas">
              <li>Tendencia a ganar peso y problemas para perderlo, especialmente en la cintura</li>
              <li>Resfriados/gripe de forma reiterada, así como otras enfermedades respiratorias.</li>
              <li>Tendencia a temblar bajo presión</li>
              <li>Disminución del deseo sexual</li>
              <li>Mareo al levantarse, agacharse o cambiar de posición de forma abrupta</li>
              <li>Incapacidad para recordar cosas (memoria pobre)</li>
              <li>Falta de concentración</li>
              <li>Dolor en la parte baja de la espalda o nuca, sin una razón aparente</li>
              <li>Mejoría cuando disminuye el estrés, por ejemplo, durante las vacaciones</li>
              <li>Necesidad o antojo continuo de alimentos dulces</li>
              <li>Falta de energía por las mañanas y por las tardes, entre las 15:00 y las 17:00 horas</li>
              <li>Mejoría temporal justo después de una comida</li>
              <li>Cansancio por la noche, entre las 21:00 y las 22:00 horas, aunque resistencia a ir a la cama</li>
              <li>Necesidad de estimulantes por la mañana (por ejemplo, café)</li>
              <li>Necesidad de alimentos salados, altos en proteína, como la carne y el queso</li>
              <li>Intolerancias / Alergias a alimentos y/o productos que se inhalan</li>
              <li>Esfuerzo en aumento para completar las tareas diarias</li>
              <li>Habilidad disminuida para tratar el estrés</li>
              <li>Aumento de síntomas premenstruales en la mujer</li>
              <li>Dificultades para levantarse por la mañana</li>
              <li>Mareo, sensación de mareo, sincope</li>
              <li>Leve depresión</li>
              <li>Piel seca y fina</li>
              <li>Hipoglucemia (glucosa baja)</li>
              <li>Temperatura corporal baja</li>
              <li>Nerviosismo y palpitaciones</li>
              <li>Pérdida de pelo sin causa aparente</li>
              <li>Períodos alternados de diarrea y estreñimiento</li>
            </ul>

          </div>

        </div>
    </div>

    <hr>
    <div id="ic" class="row ic">
      <div class="auto wid-80 m-wid-90 s-wid-95 v-pad-32 s-pad-16">
          <div class="colorverde semibold fon-32">
            <p>Proage Management IC</p>
          </div>

          <p class="justify">Desde el punto de vista biológico, el envejecimiento se asocia a la acumulación de daños moleculares y celulares, que con el paso del tiempo provocan la disminución gradual de las reservas fisiológicas y de la capacidad funcional, aumentando el riesgo de enfermar y morir.</p>

          <a v-show=" ! ic " @click.prevent.stop="ic = true " href="#" class="mini_cta">Leer más...</a>

          <div v-show=" ic " class="wid-100">
            <p class="justify">El término inflamación celular silenciosa se refiere a la inflamación imperceptible de un órgano o tejido por un desequilibrio constante y está presente en el desarrollo de un gran número de enfermedades crónicas como la diabetes, el Alzheimer, el Parkinson, problemas cardiovasculares y ciertos cánceres. También encontramos inflamación detrás de los casos de obesidad y síndrome metabólico, que pueden derivar en patologías como la Diabetes de tipo 2.</p>
            <p class="justify">Las causas de una inflamación crónica van desde una mala alimentación, estrés, descanso insuficiente, la contaminación, el tabaco, el exceso de sol hasta algunos químicos presentes en alimentos y cosméticos que consumimos.</p>
            <p class="justify">La inflamación celular es silenciosa y no duele. No se puede sentir, pero si se puede medir.</p>
            <p class="justify">Mediante una muestra de sangre realizamos la medición para después dar un tratamiento enfocado en disminuir la inflamación celular y evitar así futuras enfermedades y/o complicaciones.</p>
          </div>
      </div>

    </div>


    <div v-show=" ic " class="wid-80 s-wid-100 pad-8 auto block">
      <h2 class="sintomas bold fon-36 v-mar-16">¿Cómo afecta la inflamación celular al cuerpo?</h2>
      <div class="row">
        <div v-for="a in Afecciones" class="col l12 m12 s12">
          <div class="afeccion">
            <div class="back" :style="{ 'background-image': 'url('+a.back+')' }"></div>
            <div class="title">{{a.title}}</div>
            <div class="desc">{{a.desc}}</div>
          </div>
        </div>
      </div>
    </div>


    <hr>
    <div id="lt" class="row lt">
      <div class="auto wid-80 m-wid-90 s-wid-95 v-pad-32 s-pad-16">
          <div class="colorverde semibold fon-32">
            <p>Proage Management LT</p>
          </div>

            <p class="justify">Los telómeros son las estructuras protectoras de ADN en los extremos de los cromosomas, los cuáles van sufriendo un acortamiento por cada división celular.</p>

            <a v-show=" ! lt " @click.prevent.stop="lt = true " href="#" class="mini_cta">Leer más...</a>

            <div v-show=" lt "class="">
              <p class="justify">Existe una gran variación natural en la longitud de los telómeros: algunas personas tienen telómeros largos y otras muy cortos, incluso a una edad temprana. En general, a medida que uno envejece, los telómeros se acortan y se degradan. Cuando llegan a cierta longitud, las células ya no pueden dividirse más y mueren. Si detectamos un acortamiento excesivo de los telómeros, podremos concluir que el ciclo de vida de las células está llegando a su fin y con esto diferentes padecimientos médicos.</p>
              <p class="justify">Proage Management LT se realiza para analizar la longitud de los telómeros del ADN, conocer la edad biológica y el grado de deterioro biológico del organismo. Con el objetivo de implementar un plan de tratamiento enfocado en la restauración y retardo de este acortamiento, lo cual trae consigo un retardo del envejecimiento.</p>
            </div>

      </div>
    </div>


    <div class="colorgris v-mar-64 sv-mar-32 bold wid-40 s-wid-80 fon-18 brandcolor auto center-align">
      <img class="quote" src="~assets/quote.png" alt="">
      <p class="brandcolor">
        No podemos modificar nuestros genes, pero sí los efectos sobre nuestro organismo y nuestra salud.
      </p>
    </div>

    <!-- <img class="res auto v-mar-64  wid-60 s-wid-100" src="~assets/mas_info/mas_info.jpg" alt=""> -->

  </section>
</template>

<script>
  import Paralax from '~/components/library/Paralax.vue'
  export default {
    components: {
      Paralax
    },
    data: function(){
      return {
        'Afecciones': [
          {
            'back': '/afecciones/cerebro.jpg',
            'title': 'Cerebro',
            'desc': 'Citoquinas pro inflamatorias causan reacciones autoinmunes en el cerebro, las cuáles pueden desencadenar depresión, autismo, memoria pobre, Alzheimer y esclerosis múltiple.'
          },
          {
            'back': '/afecciones/musculo.jpg',
            'title': 'Músculo',
            'desc': 'Las citoquinas inflamatorias pueden causar dolor muscular y debilidad. Puede manifestarse con síndrome del túnel del carpo, polimialgia reumatica, por nombrar algunas.'
          },
          {
            'back': '/afecciones/huesos.jpg',
            'title': 'Huesos',
            'desc': 'La inflamación interfiere con la habilidad natural del cuerpo para reparar los huesos, incrementando el número de fracturas y pudiendo llegar a padecer enfermedades como osteoporosis.'
          },
          {
            'back': '/afecciones/cardiovascular.jpg',
            'title': 'Cardiovascular',
            'desc': 'La inflamación en el corazón y paredes de arterias y venas contribuye a enfermedades del corazón, infartos, glucosa elevada en sangre (diabetes) y anemia.'
          },
          {
            'back': '/afecciones/piel.jpg',
            'title': 'Piel',
            'desc': 'La inflamación crónica que compromete a hígado y riñones se manifiesta con rash, dermatitis, eczema, acné, psoriasis, arrugas y líneas de expresión.'
          },
          {
            'back': '/afecciones/tiroides.jpg',
            'title': 'Tiroides',
            'desc': 'Afecta reduciendo la producción de hormona tiroidea afectando el funcionamiento de la tiroides.'
          },
          {
            'back': '/afecciones/tracto.jpg',
            'title': 'Tracto Gastro Intestinal',
            'desc': 'Daña el revestimiento intestinal pudiendo ocasionar enfermedades como Reflujo gastro esofágico, enfermedad de Crohn y enfermedad Celíaca.'
          },
          {
            'back': '/afecciones/pulmones.jpg',
            'title': 'Pulmones',
            'desc': 'Induce reacciones autoinmunes contra los revestimientos de las vías respiratorias, pudiendo ocasionar alergías y asma.'
          },
          {
            'back': '/afecciones/higado.jpg',
            'title': 'Hígado',
            'desc': 'Conduce a crecimiento del hígado (hepatitis) o hígado graso, aumentando la carga tóxica en el cuerpo.'
          },

          {
            'back': '/afecciones/rinones.jpg',
            'title': 'Riñones',
            'desc': 'Causa restricción del flujo sanguíneo desencadenando complicaciones como edema, hipertensión, nefritis y falla renal.'
          },
        ],
        'age_management': false,
        'age_management_pg': false,
        'age_management_ph': false,
        'desbalances': false,
        'andro': false,
        'somato': false,
        'adrenal': false,
        'ic': false,
        'lt': false
      };
    },
    mounted: function(){
      var id = window.location.hash.substr(1);
      if(id){
        document.getElementById(id).scrollIntoView();
      }
    }
  }
</script>

<style lang="scss" scoped>
  @import "~assets/materialize_mkti";
    #paralax-info{
      background-size: auto 250%;
    }
    #masinformacion{
      .partir{
        border-left: 3px dashed black;
      }

      font-size: 18px;
      img.quote{
        width: 120px;
        height: auto;
        margin: 0px;
        padding: 0px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        @media #{$small-and-down}{
          width: 80px;
        }
      }
      hr{
        border: 1px solid #bdbdbd;
        width: 75%;
      }
      h2.sintomas{
        font-size: 1.2rem;
        width: 100%;
        text-align: center;
        margin: 0px;
        @extend .v-pad-16;
        color: $brand-color;
      }
      ul.sintomas li{
        width: 32%;
        padding: 3px 16px;
        display: inline-block;
        font-size: 0.8rem;
        vertical-align: top;
        min-height: 58px;
        vertical-align: middle;
        &::before{
          content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
          font-size: 1.2rem;
          color: $brand-color; /* Change the color */
          font-weight: bold; /* If you want it to be bold */
          display: inline-block; /* Needed to add space between the bullet and the text */
          width: 0.8em; /* Also needed for space (tweak if needed) */
          margin-left: -1em; /* Also needed for space (tweak if needed) */
        }
      }

      @media #{$medium-and-down}{
        h2.sintomas{
          font-size: 1.5rem;
        }
        ul.sintomas li{
          width: 48%;
          padding: 2px 7px;
        }
      }
    }
    #masinformacion{

      .afeccion{
        display: inline-block !important;
        position: relative !important;
        width: 100% !important;
        .desc{
          max-width: 350px;
          margin: 0 auto;
          display: block;
        }

        .col{
          display: inline-block !important;
          position: relative !important;
          margin: 0px;
          padding: 0px;
        }
        display: inline-block;
        margin: 0px;
        @extend .pad-16, .s-pad-8;
        text-align: center;
        .back{
          background-size: cover;
          background-position: center center;
          @extend .auto, .block, .z-depth-2;
          height: 100px;
          width: 100px;
          border-radius: 50%;
        }
        .title{
          padding: 2px;
          font-weight: bold;
          font-size: 1.2rem;
          width: 99%;
          text-align: center;
        }
        .desc{
          padding: 2px;
          font-size: 0.8rem;
          width: 99%;
          text-align: center;
        }
      }
    }
</style>
