<template lang="html">
  <section id="medicina">

    <Paralax id="paralax-estetica" src="/servicios/estetica.jpg" class="banner_top" layer="true">
      <div class="">
        <h2>MEDICINA ESTÉTICA</h2>
        <p>CONTRARRESTA EL PASO DE LOS AÑO</p>
      </div>
    </Paralax>

    <div class="row tratinfo v-pad-32 s-pad-16">
      <div class="col l1 m1 s0">
        <!-- vacio -->
      </div>
      <div class="col l10 m10 s12">
        <div class="center-align">
          <div class="colorgis fon-22 s-fon-18">
            <p class="justify">Contamos con los mejores tratamientos para contrarrestar los efectos causados por el paso de los años. Para ello utilizamos sólo productos seguros, con registro sanitario y aprobados por la FDA en apego a las normas de seguridad e higiene.</p>
          </div>
          <div class="colorverde semibold fon-20">
            <p>Mínimamente invasivos <img src="~assets/svg/serum.svg" alt="">
              Realizados por expertos <img src="~assets/svg/serum.svg" alt="">
              Seguros <img src="~assets/svg/serum.svg" alt="">
              Corta recuperación <img src="~assets/svg/serum.svg" alt="">
              Resultados naturales
            </p>
          </div>
        </div>
      </div>
      <div class="col l1 m1 s0">
        <!-- vacio -->
      </div>
    </div>

    <div class="row tratamientos">

      <div class="col l12 m12 s12">
        <div class="center-align">
          <p class="fon-30 s-fon-26 colorgis semibold ">TRATAMIENTOS</p>
        </div>
      </div>

      <div class="col l3 m3 s6">
        <div class="center-align pad-16 s-pad-8">
          <div class="">
            <img src="~assets/viñetas/cicatriz.png" alt="">
          </div>
          <div class="colorverde semibold fon-18">
            <p>Disminución de cicatrices</p>
          </div>
        </div>
      </div>
      <div class="col l3 m3 s6">
        <div class="center-align pad-16 s-pad-8">
          <div class="">
            <img src="~assets/viñetas/bolsas.png" alt="">
          </div>
          <div class="colorverde semibold fon-18">
            <p>Bolsas Bichat</p>
          </div>
        </div>
      </div>
      <div class="col l3 m3 s6">
        <div class="center-align pad-16 s-pad-8">
          <div class="">
            <img src="~assets/viñetas/microneedling.png" alt="">
          </div>
          <div class="colorverde semibold fon-18">
            <p>Microneedling</p>
          </div>
        </div>
      </div>
      <div class="col l3 m3 s6">
        <div class="center-align pad-16 s-pad-8">
          <div class="">
            <img src="~assets/viñetas/peeling.png" alt="">
          </div>
          <div class="colorverde semibold fon-18">
            <p>Peeling</p>
          </div>
        </div>
      </div>
      <div class="col l3 m3 s6">
        <div class="center-align pad-16 s-pad-8">
          <div class="">
            <img src="~assets/viñetas/rinomodelacion.png" alt="">
          </div>
          <div class="colorverde semibold fon-18">
            <p>Rinomodelación</p>
          </div>
        </div>
      </div>
      <div class="col l3 m3 s6">
        <div class="center-align pad-16 s-pad-8">
          <div class="">
            <img src="~assets/viñetas/capilar.png" alt="">
          </div>
          <div class="colorverde semibold fon-18">
            <p>Regeneración capilar</p>
          </div>
        </div>
      </div>
      <div class="col l3 m3 s6">
        <div class="center-align pad-16 s-pad-8">
          <div class="">
            <img src="~assets/viñetas/hidrolipocavitacion.png" alt="">
          </div>
          <div class="colorverde semibold fon-18">
            <p>Hidrolipocavitacion</p>
          </div>
        </div>
      </div>
      <div class="col l3 m3 s6">
        <div class="center-align pad-16 s-pad-8">
          <div class="">
            <img src="~assets/viñetas/labios.png" alt="">
          </div>
          <div class="colorverde semibold fon-18">
            <p>Aumento y perfilamiento de labios</p>
          </div>
        </div>
      </div>
      <div class="col l3 m3 s6">
        <div class="center-align pad-16 s-pad-8">
          <div class="">
            <img src="~assets/viñetas/hilos.png" alt="">
          </div>
          <div class="colorverde semibold fon-18">
            <p>Hilos absorbibles</p>
          </div>
        </div>
      </div>
      <div class="col l3 m3 s6">
        <div class="center-align pad-16 s-pad-8">
          <div class="">
            <img src="~assets/viñetas/hiperhidrosis.png" alt="">
          </div>
          <div class="colorverde semibold fon-18">
            <p>Hiperhidrosis palmar y axilar</p>
          </div>
        </div>
      </div>
      <div class="col l3 m3 s6">
        <div class="center-align pad-16 s-pad-8">
          <div class="">
            <img src="~assets/viñetas/botox.png" alt="">
          </div>
          <div class="colorverde semibold fon-18">
            <p>Toxina botulínica</p>
          </div>
        </div>
      </div>
      <div class="col l3 m3 s6">
        <div class="center-align pad-16 s-pad-8">
          <div class="">
            <img src="~assets/viñetas/bioestimulacion.png" alt="">
          </div>
          <div class="colorverde semibold fon-18">
            <p>Bioestimulación facial</p>
          </div>
        </div>
      </div>
      <div class="col l3 m3 s6">
        <div class="center-align pad-16 s-pad-8">
          <div class="">
            <img src="~assets/viñetas/hidratacion.png" alt="">
          </div>
          <div class="colorverde semibold fon-18">
            <p>Hidratación facial</p>
          </div>
        </div>
      </div>
      <div class="col l3 m3 s6">
        <div class="center-align pad-16 s-pad-8">
          <div class="">
            <img src="~assets/viñetas/gluteos.png" alt="">
          </div>
          <div class="colorverde semibold fon-18">
            <p>Levantamiento de glúteo</p>
          </div>
        </div>
      </div>
      <div class="col l3 m3 s6">
        <div class="center-align pad-16 s-pad-8">
          <div class="">
            <img src="~assets/viñetas/ovalo.png" alt="">
          </div>
          <div class="colorverde semibold fon-18">
            <p>Definición del ovalo facial</p>
          </div>
        </div>
      </div>
      <div class="col l3 m3 s6">
        <div class="center-align pad-16 s-pad-8">
          <div class="">
            <img src="~assets/viñetas/fibroblastos.png" alt="">
          </div>
          <div class="colorverde semibold fon-18">
            <p>Fibroblastos</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row btninfo v-pad-64">
        <div class="col l12 m12 s12 center-align">
          <div class=" btn_cta">
            <a href="/contacto" class="colorblanco">SOLICITA UNA CITA</a>
          </div>
        </div>
    </div>

  </section>
</template>

<script>
  import Paralax from '~/components/library/Paralax.vue'
  export default {
    components: {
      Paralax
    }
  }
</script>

<style lang="scss">
  @import "~assets/materialize_mkti";
    #medicina{
      .banner_top{
        background-image: url("~assets/img/medicinabanner.png");
        p{
          margin-bottom: 4px;
          margin-top: 4px;
        }
      }
      .tratamientos{
        img{
          // padding-top: 64px;
        }
      }
      .btninfo{

      }
    }
</style>
