<template lang="html">
  <section id="nutricion">

    <Paralax id="paralax-nutricion" src="/servicios/nutricion.jpg" class="banner_top" layer="true">
      <div class="">
        <h2>NUTRICIÓN PERSONALIZADA</h2>
      </div>
    </Paralax>


    <div class="row nutricioninfo v-pad-64">
      <div class="col l1 m1 s0">
        <!-- vacio -->
      </div>
      <div class="col l10 m10 s12">
        <div class="center-align colorgris fon-22 s-pad-16">
          <p class="justify">Porque sabemos que todos tenemos necesidades, estilos de vida, alergias, intolerancias y preferencias distintas; estudiamos y abordamos a cada paciente de forma única haciendo uso de toda la tecnología disponible.</p>
        </div>
      </div>
        <div class="col l1 m1 s0">
          <!-- vacio -->
        </div>
    </div>

    <div class="row nutricioninfo2 v-pad-32">
      <div class="col l1 m2 s0">
        <!-- vacio -->
      </div>
      <div class="col l2 m6 s12">
        <div class="center-align">
          <img src="~assets/svg/adngrande.svg" alt="">
        </div>
      </div>
      <div class="col l6 m6 s12">
        <div class="center-align colorverde fon-20 m-auto s-auto s-block">
          <p>Plan nutricional dirigido a objetivos</p>
          <p>Plan personalizado</p>
          <p>Nutrición deportiva</p>
          <p>Apoyo y respaldo médico</p>
        </div>
      </div>
      <div class="col l3 m2 s0">
        <!-- vacio -->
      </div>
    </div>

    <div class="row circulos v-pad-32">
      <div class="col l3 m6 s12">
        <div class="center-align pad-16">
          <div class="">
            <img src="~assets/viñetas/calorimetria.png" alt="">
          </div>
          <div class="colorverde semibold fon-18">
            <p>Calorimetría indirecta</p>
          </div>
          <div class="fon-16">
            <p>La calorimetría indirecta es un examen no invasivo que permite medir en forma exacta el gasto calórico en reposo de una persona.</p>
          </div>
        </div>
      </div>
      <div class="col l3 m6 s12">
        <div class="center-align  pad-16">
          <div class="">
            <img src="~assets/viñetas/nutrigenetica.png" alt="">
          </div>
          <div class="colorverde semibold fon-18">
            <p>Nutrigenética y nutrigenómica</p>
          </div>
          <div class="fon-16">
            <p>Rama de la genética que estudia la relación entre los genes y la respuesta individual a la dieta. </p>
          </div>
        </div>
      </div>
      <div class="col l3 m6 s12">
        <div class="center-align pad-16">
          <div class="">
            <img src="~assets/viñetas/composición.png" alt="">
          </div>
          <div class="colorverde semibold fon-18">
            <p>Bioimpedancia eléctrica</p>
          </div>
          <div class="fon-16">
            <p>Nos aporta la siguiente información: Peso, índice de masa corporal (IMC), % grasa corporal, masa muscular, agua corporal, masa ósea y grasa visceral.</p>
          </div>
        </div>
      </div>
      <div class="col l3 m6 s12">
        <div class="center-align  pad-16">
          <div class="">
            <img src="~assets/viñetas/skulpt.png" alt="">
          </div>
          <div class="colorverde semibold fon-18">
            <p>Análisis muscular por bioimpedancia</p>
          </div>
          <div class="fon-16">
            <p>Identifica la fuerza relativa de los músculos y la calidad de 24 grupos musculares.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row btninfo v-pad-64">
        <div class="col l12 m12 s12 center-align">
          <div class=" btn_cta">
            <a href="/contacto" class="colorblanco">SOLICITA UNA CITA</a>
          </div>
        </div>
    </div>

  </section>
</template>

<script>
  import Paralax from '~/components/library/Paralax.vue'
  export default {
    components: {
      Paralax
    }
  }
</script>

<style lang="scss">
  @import "~assets/materialize_mkti";
    #nutricion{
      .banner_top{
        background-image: url("~assets/img/nutricionbanner.png");
        background-position: top center;

      }
    }
</style>
