<template lang="html">
  <section id="servicios">

    <Paralax id="paralax-servicios" src="/servicios/servicios.jpg" class="banner_top" layer="true">
      <div class="">
        <h2>SERVICIOS</h2>
      </div>
    </Paralax>

    <div class="row medicinaestetica v-pad-32">
      <div class="col l1 m1 s0">
        <!-- vacio -->
      </div>
      <div class="col l10 m10 s12">

        <div class="semibold colorverde fon-30 v-pad-32">
          <p>Medicina Estética</p>
        </div>

        <div class="col l3 m3 s12">
          <div class="auto center-align">
            <a href="/medicina">
              <img src="~assets/svg/medicinaestetica.svg" alt="">
            </a>
          </div>
        </div>

        <div class="col l9 m9 s12">
          <div class="colorgris fon-22 h-pad-32 sh-pad-8 v-pad-8">
            <p class="justify">Contamos con los mejores tratamientos para contrarrestar los efectos causados por el paso de los años.</p>
          </div>
          <div class="colorverde fon-20 h-pad-32 sh-pad-8 v-pad-8">
            <p>Tratamientos mínimamente invasivos</p>
            <p>Realizados por Masters en Medicina Estética</p>
            <p>Seguros</p>
            <p>Sin necesidad de hospitalización</p>
            <p>De corta recuperación</p>
            <p>Con resultados naturales</p>
          </div>
          <div class="h-pad-32">
            <a href="/medicina" class="minicta">Ir a la sección de Médicina estética</a>
          </div>
        </div>

      </div>
      <div class="col l1 m1 s0">
        <!-- vacio -->
      </div>
    </div>

    <hr>

    <div class="row proage v-pad-64 sv-pad-16">
      <div class="col l1 m1 s0">
        <!-- vacio -->
      </div>
      <div class="col l8 m8 s12">
        <div class="colorverde semibold fon-30 ">
          <p>Pro Age Management</p>
        </div>
        <div class="colorgris fon-20 s-pad-16">
          <p class="justify">No sólo es saber a que estamos predispuestos, si no evitar que estas enfermedades se manifiesten, y en el caso de las personas que ya las presentan, el objetivo será evitar las futuras complicaciones mediante un plan completamente personalizado.</p>
        </div>
      </div>
      <div class="col l2 m2 s12">
        <div class="">
          <a href="/age">
            <img src="~assets/svg/proage_grande.svg" alt="">
          </a>
        </div>
      </div>
      <div class="col l1 m1 s0">
        <!-- vacio -->
      </div>
      <div class="col l12 m12 s12 center-align v-mar-16">
        <a href="/age" class="minicta">Ir a la sección de Age Management</a>
      </div>
    </div>

    <div class="row cuatops v-pad-16">
      <div class="col l12 m12 s12">
        <div class="center-align semibold colorgris fon-30 v-pad-32">
          <p class="brandcolor">Basado en la Medicina de las 4 P's</p>
        </div>
      </div>
      <div class="col l3 m3 s12">
        <div class="center-align ">
          <div class="">
            <img src="~assets/svg/personalizada.svg" alt="">
          </div>
          <div class="colorverde semibold fon-20">
            <p>Personalizada</p>
          </div>
          <div class="colorgris fon-18">
            <p class="justify pad-8 s-pad-4">Después de realizar un screening médico completo se crean planes individuales para el adecuado abordaje de cada paciente.</p>
          </div>
        </div>
      </div>
      <div class="col l3 m3 s12">
        <div class="center-align">
          <div class="">
            <img src="~assets/svg/predictiva.svg" alt="">
          </div>
          <div class="colorverde semibold fon-20">
            <p>Predictiva</p>
          </div>
          <div class="colorgris fon-18">
            <p class="justify pad-8 s-pad-4">Mediante marcadores genéticos específicos que nos informan sobre las probabilidades de padecer algunos tipos de cáncer, enfermedades neuro degenerativas y cardiovasculares.</p>
          </div>
        </div>
      </div>
      <div class="col l3 m3 s12">
        <div class="center-align">
          <div class="">
            <img src="~assets/svg/participativa.svg" alt="">
          </div>
          <div class="colorverde semibold fon-20">
            <p>Participativa</p>
          </div>
          <div class="colorgris fon-18">
            <p class="justify pad-8 s-pad-4">Mediante la educación y concientización del paciente sobre su estado general de salud.</p>
          </div>
        </div>
      </div>
      <div class="col l3 m3 s12">
        <div class="center-align">
          <div class="">
            <img src="~assets/svg/preventiva.svg" alt="">
          </div>
          <div class="colorverde semibold fon-20">
            <p>Preventiva</p>
          </div>
          <div class="colorgris fon-18">
            <p class="justify pad-8 s-pad-4">Llevando al paciente a niveles óptimos en los principales bio marcadores relacionados con la salud y el envejecimiento.</p>
          </div>
        </div>
      </div>
    </div>

    <hr>

    <div class="row nutricion v-pad-32 sv-pad-16">
      <div class="col l1 m0 s0">
        <!-- vacio -->
      </div>
      <div class="col l6 m12 s12">
        <div class="colorverde semibold fon-30">
          <p>Nutrición Personalizada</p>
        </div>
        <div class="colorgris fon-22 s-pad-16">
          <p class="justify">Por que sabemos que todos tenemos necesidades, estilos de vida, alergías, intolerancias y preferencias distintas; estudiamos y abordamos a cada paciente de forma única haciendo uso de toda la tecnología disponible.</p>
          <div class="colorverde fon-20">
            <p class="v-mar-4">Cálculo de gasto calórico mediante calorimetría indirecta</p>
            <p class="v-mar-4">Plan nutricional dirigido al objetivo deseado</p>
            <p class="v-mar-4">Nutrigenética y nutrigenómica</p>
            <p class="v-mar-4">Nutrición deportiva</p>
            <p class="v-mar-4">Apoyo y respaldo médico</p>
            <p class="v-mar-4">Análisis de composición corporal</p>
            <p class="v-mar-4">Análisis de miografía (calidad y fuerza muscular segmentaria).</p>
          </div>
        </div>
        <div class="v-mar-32">
          <a href="/nutricion" class="minicta">Ir a la sección de Nutrición personalizada</a>
        </div>
      </div>

      <div class="col l4 m12 s12">
        <div class=" imgcontain v-pad-64">
          <a href="/nutricion">
            <img src="~assets/svg/nutricion_grande.svg" alt="">
          </a>
        </div>
      </div>
      <div class="col l1 m0 s0">
        <!-- vacio -->
      </div>
    </div>

    <hr>

    <div class="row aparatologia v-pad-64 sv-pad-16">
      <div class="col l1 m1 s0">
        <!-- vacio -->
      </div>
      <div class="col l10 m11 s12">
        <div class="row pad-0 mar-0">
          <div class="col l12 colorverde semibold fon-30">
            <p>Aparatología (electro estética)</p>
          </div>

          <div class="col l4 m5 s12">
            <div class="">
              <a href="/wellness">
                <img class="auto" src="~assets/svg/aparatologia_grande.svg" alt="">
              </a>
            </div>
          </div>

          <div class="col l8 m6 s12">
            <div class="colorgris fon-20 s-pad-16">
              <p class="justify">La electro estética es un método no invasivo que consiste en la aplicación de cargas eléctricas de carácter positivo y negativo (iones) que está dando muy buenos resultados en su aplicación para tratamientos de belleza.</p>
            </div>
            <div class="v-mar-16">
              <a href="/wellness" class="minicta">Ir a la sección de Aparotología y Wellness</a>
            </div>
          </div>

        </div>
      </div>
      <div class="col l1 m1 s0">
        <!-- vacio -->
      </div>

    </div>

    <hr>

    <div class="row dermo v-pad-64 sv-pad-16">
      <div class="col l1 m1 s0">
        <!-- vacio -->
      </div>
      <div class="col l6 m6 s12">
        <div class="colorverde semibold fon-30">
          <p>Dermofarmacia</p>
        </div>
        <div class="fon-20 colorgris s-pad-16">
          <p class="justify ">Cremas personalizadas en base a las necesidades específicas de tu piel.</p>
          <p class="justify ">Creamos una crema para cada persona, porque ninguna piel es igual ni tiene los mismos problemas o necesidades.</p>
        </div>
        <div class="v-mar-16">
          <a href="/dermofarmacia" class="minicta">Ir a la sección de Dermofarmacia</a>
        </div>
      </div>
      <div class="col l5 m5 s12">
        <a href="/dermofarmacia">
          <img class="auto sv-mar-32" src="~assets/svg/dermo_grande.svg" alt="">
        </a>
      </div>
    </div>


  </section>
</template>

<script>
  import Paralax from '~/components/library/Paralax.vue'
  export default {
    components: {
      Paralax
    }
  }
</script>

<style lang="scss">
  @import "~assets/materialize_mkti";
    #servicios{
      @media #{$small-and-down}{
        .minicta{
          margin-left: auto;
          margin-right: auto;
          max-width: 95%;
          display: block;
          width: 100%;
          text-align: center;
          position: relative;
        }
      }

      img{
        @extend .res, .auto;

        @media #{$small-and-down}{
          max-height: 160px;
          margin: 0px;
          padding: 8px;
        }
      }
      .banner_top{
        background-image: url("~assets/img/serviciosbanner.png");
      }
      .medicinaestetica{

      }
      .proage{

      }
      .cuatrops{

      }
      .nutricion{
        .imgcontain{
          padding-bottom: 0px;
          img{
            height: 380px;
            width: auto;
          }
        }
      }
      .aparatologia{

      }

    }
</style>
