<template lang="html">
  <section id="wellness">


    <Paralax id="paralax-aparato" src="/servicios/aparato.jpg" class="banner_top" layer="true">
      <div class="">
        <h2>WELLNESS Y APARATOLOGÍA</h2>
      </div>
    </Paralax>

    <div class="row wellnessinfo v-pad-32 s-pad-16">
      <div class="col l1 m1 s0">
        <!-- vacio -->
      </div>
      <div class="col l10 m10 s12">
        <div class="center-align fon-22 s-fon-18 colorgris justify">
          <p>La electro estética es un método no invasivo que consiste en la aplicación de cargas eléctricas de carácter positivo y negativo (iones) con muy buenos resultados en su aplicación para tratamientos de belleza.</p>
          <p>La razón principal de ello es que la aplicación de cargas eléctricas activa la circulación sanguínea y aporta mucho oxígeno al organismo, lo que permite al cuerpo eliminar más rápidamente las sustancias de desecho y los elementos tóxicos del organismo. Esto favorece procesos como la eliminación de varices, la pérdida de peso, la reducción de grasa corporal, el aumento de masa muscular, la reducción de celulitis y estrías, entre otros.</p>
          <p>La electro estética también ayuda a retrasar el envejecimiento gracias al aumento de oxígeno aplicado que ayuda a regenerar las células, mejorar los tejidos, eliminar las bolsas de los ojos, reducir cicatrices y remodelar glúteos y piernas.</p>
        </div>
      </div>
      <div class="col l1 m1 s0">
        <!-- vacio -->
      </div>
    </div>

    <div class="row circulos">
      <div class="col l12 m12 s12">
        <div class="semibold colorverde fon-30 center-align">
          <p>EQUIPOS</p>
        </div>
      </div>

      <div class="col l3 m6 s6">
        <div class="center-align pad-16 s-pad-8">
          <div class="">
            <img src="~assets/viñetas/radiofrecuencia.png" alt="">
          </div>
          <div class="colorverde semibold fon-18">
            <p>Radiofrecuencia</p>
          </div>
        </div>
      </div>

      <div class="col l3 m6 s6">
        <div class="center-align pad-16 s-pad-8">
          <div class="">
            <img src="~assets/viñetas/criolipolisis.png" alt="">
          </div>
          <div class="colorverde semibold fon-18">
            <p>Criolipólisis</p>
          </div>
        </div>
      </div>

      <div class="col l3 m6 s6">
        <div class="center-align pad-16 s-pad-8">
          <div class="">
            <img src="~assets/viñetas/cromoterapia.png" alt="">
          </div>
          <div class="colorverde semibold fon-18">
            <p>Cromoterapia</p>
          </div>
        </div>
      </div>

      <div class="col l3 m6 s6">
        <div class="center-align pad-16 s-pad-8">
          <div class="">
            <img src="~assets/viñetas/lipolaser.png" alt="">
          </div>
          <div class="colorverde semibold fon-18">
            <p>Lipoláser</p>
          </div>
        </div>
      </div>

      <div class="col l3 m6 s6">
        <div class="center-align pad-16 s-pad-8">
          <div class="">
            <img src="~assets/viñetas/gimnasia.png" alt="">
          </div>
          <div class="colorverde semibold fon-18">
            <p>Gimnasia pasiva</p>
          </div>
        </div>
      </div>

      <div class="col l3 m6 s6">
        <div class="center-align pad-16 s-pad-8">
          <div class="">
            <img src="~assets/viñetas/presoterapia.png" alt="">
          </div>
          <div class="colorverde semibold fon-18">
            <p>Presoterapia</p>
          </div>
        </div>
      </div>

      <div class="col l3 m6 s6">
        <div class="center-align pad-16 s-pad-8">
          <div class="">
            <img src="~assets/viñetas/diatermia.png" alt="">
          </div>
          <div class="colorverde semibold fon-18">
            <p>Diatermia</p>
          </div>
        </div>
      </div>

      <div class="col l3 m6 s6">
        <div class="center-align pad-16 s-pad-8">
          <div class="">
            <img src="~assets/viñetas/detox.png" alt="">
          </div>
          <div class="colorverde semibold fon-18">
            <p>Detox</p>
          </div>
        </div>
      </div>

      <div class="col l4 m6 s6">
        <div class="center-align pad-16 s-pad-8">
          <div class="">
            <img src="~assets/viñetas/skinscrub.png" alt="">
          </div>
          <div class="colorverde semibold fon-18">
            <p>Skin scrub</p>
          </div>
        </div>
      </div>

      <div class="col l4 m6 s6">
        <div class="center-align pad-16 s-pad-8">
          <div class="">
            <img src="~assets/viñetas/vacuum.png" alt="">
          </div>
          <div class="colorverde semibold fon-18">
            <p>Vacuum</p>
          </div>
        </div>
      </div>

      <div class="col l4 m6 s6">
        <div class="center-align pad-16 s-pad-8">
          <div class="">
            <img src="~assets/viñetas/ultrasonido.png" alt="">
          </div>
          <div class="colorverde semibold fon-18">
            <p>Ultrasonido</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row btninfo v-pad-64">
        <div class="col l12 m12 s12 center-align">
          <div class=" btn_cta">
            <a href="/contacto" class="colorblanco">SOLICITA UNA CITA</a>
          </div>
        </div>
    </div>

  </section>
</template>

<script>
  import Paralax from '~/components/library/Paralax.vue'
  export default {
    components: {
      Paralax
    }
  }
</script>

<style lang="scss">
  @import "~assets/materialize_mkti";
    #wellness{
      .banner_top{
        background-image: url("~assets/img/wellnessbanner.png");
      }
      .circulos{
        img{
          // padding-top: 20px;
        }
      }
    }
</style>
